section.col-xs-12.content(ng-controller="RegisterCtrl")

  .row.auth-form-container.col-sm-offset-2.col-sm-8.col-md-offset-3.col-md-6(ng-show='mode=="register_new_account"')
    .auth-form-wrapper
      h2(l10n) Create new account

      .form-group
        a.btn.btn-block.btn-link(ng-click='goTo("/login")', l10n) Open existing account

      .form-group
        a.btn.btn-block.btn-default(ng-click='createEmptyWallet()', l10n) Create an empty account

      .form-group
        a.btn.btn-block.btn-default(ng-click='mode="register_with_secret"', l10n) Create a new account with a secret key

  .row.auth-form-container.col-sm-offset-2.col-sm-8.col-md-offset-3.col-md-6(ng-show='mode=="register_empty_wallet"')
    .auth-form-wrapper
      h2(l10n) Create empty account

      p(l10n) Encrypt your new account file: {{walletfile}}

      form(name='registerForm', ng-submit='submitForm()')

        label.hide(for='register_password', l10n) Wallet file
        input.form-control.hide(type="file", nwsaveas="wallet.txt", ng-model="walletfile", required, name="save_wallet")

        .form-group(ng-class="{'field-error': 'weak' === strength}")
          label(for='register_password', l10n) Password
          input.form-control#register_password(
          name='register_password1', type='password', autocomplete="off"
          ng-model="password1"
          rp-strong-password, required, rp-same-in-set="passwordSet", rp-focus)
          p(ng-show="strength=='weak'")
            span(l10n) Your password is weak. It is not a mix of letters, numbers and symbols or it is the same as your Ripple name.
        .form-group(ng-class="{'field-error': registerForm.register_password1.$error.rpSameInSet && registerForm.register_password2.$dirty}")
            label(for='register_password2', l10n) Confirm password
            input.form-control#register_password2(
            name='register_password2', autocomplete="off"
            type='password'
            ng-model="password2"
            required, rp-same-in-set="passwordSet")
            p(ng-show="registerForm.register_password1.$error.rpSameInSet && registerForm.register_password2.$dirty")
              span(l10n) Passwords do not match
          div(ng-show="")
        .form-group
              .strength(class="{{strength}}") {{strength}}

        .submit-btn-container
          button.btn.btn-block.btn-success(type='submit'
          ng-disabled='registerForm.$invalid || submitLoading'
          rp-spinner='{{submitLoading ? 4 : null}}', l10n) Encrypt account

          a.btn.btn-block.btn-link(ng-click='reset()', l10n) Cancel and delete account file



  .row.auth-form-container.col-sm-offset-2.col-sm-8.col-md-offset-3.col-md-6(ng-show='mode=="register_with_secret" || oldUserBlob')
    .auth-form-wrapper
      h2(l10n) Create account with secret key

      form(name='useSecretKey', ng-submit='submitSecretKeyForm()')
        .form-group(ng-class="{'field-error': registerForm.secret.$error.rpMasterKey && registerForm.secret.$dirty}")

          label(for="masterkey", l10n) Enter your secret key
          | &#32;
          i.fa.fa-question-circle(
          rp-popover
          rp-popover-placement="bottom"
          rp-popover-title="Using a secret key"
          rp-popover-trigger="hover"
          l10n-data-content="This will create a new Ripple account from your secret key.")

          input.form-control#secretKey(type="text", name="secretKey"
          ng-model="secretKey", rp-master-key, required, rp-focus)

          p(ng-show="useSecretKey.secret.$error.rpMasterKey && registerForm.secret.$dirty")
            span(l10n) Secret is invalid

        .submit-btn-container
          button.btn.btn-block.btn-success(type='submit'
          ng-disabled='useSecretKey.$invalid || submitLoading'
          rp-spinner='{{submitLoading ? 4 : null}}', l10n) Create new account

          a.btn.btn-block.btn-link(ng-click='reset()', l10n) Cancel

    .switch-mode-link-container(l10n) Have an account?&#32;
      a(href='#login', l10n-inc) Log In


  .row.mode-welcome(ng-show='mode=="welcome"')
    .col-xs-12.col-md-10.col-md-offset-1
      p.important(l10n) Important:
      p.hint(l10n) The secret key below gives access to your money in the unlikely case that you lose your password.
        |  In that case your contacts will be lost, but with this secret key alone anyone can retrieve your money. So please
        |  store it somewhere PRIVATE AND SAFE. Read more about keys and wallet safety in&#32;
        a(href="#", l10n) Security
      .credentials
        span.password(l10n) Passphrase:
          span.value(ng-show="showPassword==true") {{password1}}&#32;
          span.value(ng-hide="showPassword==true") {{password}}
          rp-confirm(
          action-text="Are you in a safe place where no person or camera can see your screen?"
          action-button-text="Yes, show me"
          action-function="showPassword=true"
          cancel-button-text="no"
          ng-hide="showPassword==true")
            a(href="", l10n) Show
          a(href="", ng-click="showPassword=false", ng-show="showPassword==true", l10n) Hide
      .secret
        p.important(l10n) Ripple address
        p.key {{address}}
        p.important(l10n) Secret key:
        p.key(ng-show="showSecret==true") {{keyOpen}}
        p.key(ng-hide="showSecret==true") {{key}}
        p(ng-hide="showSecret==true")
          rp-confirm(
          action-text="Are you in a safe place where no person or camera can see your screen?"
          action-button-text="Yes, show me"
          action-function="showSecret=true"
          cancel-button-text="no")
            button.btn.btn-info.btn-sm(l10n) Show secret key
        p(ng-show="showSecret==true")
          button.btn.btn-info.btn-sm(ng-click="showSecret=false", l10n) Hide secret key
      p.important(l10n) Have you saved your secret key somewhere safe?
      .row
        .col-xs-12.col-sm-5.col-lg-4
          a.btn.btn-info.btn-block.btn-big(href='#balance', ng-click='goToFund()', l10n) Yes, I saved my secret key
