section.col-xs-12.content(ng-controller="AdvancedCtrl")
  div(ng-show='debug') This page is not available in debug mode

  div(ng-show="!loadingAccount && !account.Balance && loadState.account && connected && !debug")
    include banner/unfunded
  .row(ng-show='connected && !debug')
    .col-sm-12.notification-wrapper
      .alert.alert-success(ng-show="success.saveBlob", l10n) Your blob vault has been changed successfully.
      .alert.alert-success(ng-show="success.saveBridge", l10n) Your bitcoin bridge has been changed successfully.
      .alert.alert-success(ng-show="success.saveAcctOptions", l10n) Trustline advanced settings has been changed successfully.
      .alert.alert-success(ng-show="success.saveConfirmation.send", l10n) Send confirmation settings has been changed successfully.
      .alert.alert-success(ng-show="success.saveConfirmation.exchange", l10n) Trade (simple) confirmation settings has been changed successfully.
      .alert.alert-success(ng-show="success.saveConfirmation.trade", l10n) Trade (advanced) confirmation settings has been changed successfully.
      .alert.alert-success(ng-show="success.saveMaxNetworkFee", l10n) Maximum network fee has been changed successfully.
      .alert.alert-success(ng-show="success.addServer && success.saveServer", l10n) A new server has been successfully added.
      .alert.alert-success(ng-show="success.removeServer", l10n) A server has been successfully removed.
      .alert.alert-success(ng-show="!success.addServer && success.saveServer", l10n) A server has been changed successfully.
    .col-sm-3
      include settings/navbar
    .col-sm-9.list
      section.content#servers
        h4(l10n) Settings
        form(name="blobForm", ng-submit="saveBlob()")
          .descriptor(l10n) Blob vault
          .row.advanced-form-row(ng-hide="editBlob")
            .col-xs-9.col-sm-8.col-md-6
              .description {{options.blobvault}}
            .col-xs-1
            .col-xs-3.col-sm-3.col-md-2
              a.btn.btn-block.btn-cancel(href="", ng-click="editBlob = true", l10n) edit
          .row.row-padding-small.field-edit-row(ng-show="editBlob")
            .col-xs-12.col-sm-9.col-md-6
              input.form-control.blobIp#blobIp(
              name='blobIp', type='text'
              ng-model='options.blobvault')
            .col-xs-6.col-sm-6.col-md-3
              button.btn.btn-block.btn-success.btn-xs.submit#saveBlob(type='submit', ng-disabled='blobForm.$invalid', l10n) Save
            .col-xs-3.col-sm-3.col-md-2
              button.btn.btn-block.btn-danger.btn-xs.submit#deleteBlob(type="button", ng-click="deleteBlob()", l10n) Delete
            .col-xs-3.col-sm-3.col-md-1.text-center#cancel
              a.btn.btn-cancel.btn-block(href="", ng-click="cancelEditBlob()", l10n) cancel
        form(name="bridgeForm", ng-submit="saveBridge()")
          .descriptor(l10n) Bitcoin bridge
          .row.advanced-form-row(ng-hide="editBridge")
            .col-xs-9.col-sm-8.col-md-6
              .description {{options.bridge.out.bitcoin}}
            .col-xs-1
            .col-xs-3.col-sm-3.col-md-2
              a.btn.btn-block.btn-cancel(href="", ng-click="editBridge = true", l10n) edit
          .row.row-padding-small.field-edit-row(ng-show="editBridge")
            .col-xs-12.col-sm-9.col-md-6
              input.form-control.btcDomain#btcDomain(
              name='btcDomain', type='text'
              ng-model='options.bridge.out.bitcoin')
            .col-xs-6.col-sm-6.col-md-3
              button.btn.btn-block.btn-success.btn-xs.submit#saveBridge(type='submit', ng-disabled='bridgeForm.$invalid', l10n) Save
            .col-xs-3.col-sm-3.col-md-2
              button.btn.btn-block.btn-danger.btn-xs.submit#deleteBridge(type="button", ng-click="deleteBridge()", l10n) Delete
            .col-xs-3.col-sm-3.col-md-1.text-center#cancel
              a.btn.btn-cancel.btn-block(href="", ng-click="cancelEditBridge()", l10n) cancel
        mixin confirmation(transactionType, formName, formDescriptor, boxName)
          form(name=formName, ng-submit='saveConfirmation("'+transactionType+'")')
            .descriptor(l10n)= formDescriptor
            .row.advanced-form-row(ng-hide='editConfirmation.'+transactionType)
              .col-xs-9.col-sm-8.col-md-6
                .description(ng-show='options.confirmation.'+transactionType, l10n) Show
                .description(ng-hide='options.confirmation.'+transactionType, l10n) Hide
              .col-xs-1
              .col-xs-3.col-sm-3.col-md-2
                a.btn.btn-cancel.btn-block(href='', ng-click='editConfirmation.'+transactionType+' = true', l10n) edit
            .row.row-padding-small.edit-trust-line(ng-show='editConfirmation.'+transactionType)
              .col-xs-9.col-sm-8.col-md-6
                div.helperInput
                  label
                    input(type='checkbox', name=boxName
                    ng-model='options.confirmation.'+transactionType
                    ng-click='confirmationChanged.'+transactionType+' = true')
                    span(l10n) Show
              .col-xs-6.col-sm-6.col-md-3
                button.btn.btn-block.btn-success.btn-xs.submit#save(type='submit'
                ng-disabled='serverForm.$invalid', l10n) Save
              .col-xs-3(ng-show='hasRemove()')
                button.btn.btn-block.btn-danger.btn-xs.submit#delete(type="button", ng-click="remove()", ng-show="hasRemove()", l10n) Delete
              .col-xs-3.col-sm-3.col-md-2.text-center#cancel
                a.btn.btn-cancel.btn-block(href="", ng-click='cancelEditConfirmation("'+transactionType+'")', l10n) cancel
        +confirmation('send', 'sendConfirmationForm', 'Send confirmation page', 'sendConfirmationBox')
        +confirmation('exchange', 'exchangeConfirmationForm', 'Exchange confirmation page', 'exchangeConfirmationBox')
        +confirmation('trade', 'tradeConfirmationForm', 'Trade confirmation page', 'tradeConfirmationBox')
        form.trust-line-form(name="accountsAdvForm", ng-submit="saveAcctOptions()")
          .descriptor(l10n) Trust line
          .row.advanced-form-row(ng-hide="editAcctOptions")
            .col-xs-6.col-sm-5.col-md-3
              .description Advanced settings
            .col-xs-3.col-sm-4.col-md-4
              .description(ng-show="options.advanced_feature_switch", l10n) Show
              .description(ng-hide="options.advanced_feature_switch", l10n) Hide
            .col-xs-3.col-sm-3.col-md-2
              a.btn.btn-cancel.btn-block(href="", ng-click="editAcctOptions = true", l10n) edit
          .row.row-padding-small.edit-trust-line(ng-show="editAcctOptions")
            .col-xs-6.col-sm-5.col-md-3
              .description Advanced settings
            .col-xs-4.col-sm-4.col-md-3
              div.helperInput
                label
                  input(type="checkbox", name="acct_adv"
                  ng-model="options.advanced_feature_switch"
                  ng-click="advancedFeatureSwitchChanged = true")
                  span(l10n) Show
            .col-xs-6.col-sm-6.col-md-3
              button.btn.btn-block.btn-success.btn-xs.submit#save(type='submit'
              ng-disabled='serverForm.$invalid', l10n) Save
            .col-xs-3(ng-show="hasRemove()")
              button.btn.btn-block.btn-danger.btn-xs.submit#delete(type="button", ng-click="remove()", ng-show="hasRemove()", l10n) Delete
            .col-xs-3.col-sm-3.col-md-2.text-center#cancel
              a.btn.btn-cancel.btn-block(href="", ng-click="cancelEditAcctOptions()", l10n) cancel
        h4#networkSettings(l10n) Network settings
        form(name="maxnetworkfeeForm", ng-submit="saveMaxNetworkFee()")
          .descriptor(l10n) Maximum network fee
          .row.advanced-form-row(ng-hide="editMaxNetworkFee")
            .col-xs-9.col-sm-8.col-md-6
              .description {{max_tx_network_fee_human}} {{xrp.code}}
            .col-xs-1
            .col-xs-3.col-sm-3.col-md-2
              a.btn.btn-block.btn-cancel(href="", ng-click="editMaxNetworkFee = true", l10n) edit
          .row.row-padding-small.field-edit-row(ng-show="editMaxNetworkFee")
            .col-xs-12.col-sm-9.col-md-6.input-group
              input.form-control.maxNetworkFee#maxNetworkFee(
              name='maxNetworkFee', type='text'
              ng-model='max_tx_network_fee_human'
              required
              rp-amount
              rp-amount-positive
              rp-amount-xrp-limit
              rp-amount-currency='{{xrp.name}}')
              span.input-group-addon(ng-bind="xrp.name")
            .col-xs-6.col-sm-6.col-md-3
              button.btn.btn-block.btn-success.btn-xs.submit#saveMaxNetworkFee(type='submit', ng-disabled='maxnetworkfeeForm.$invalid', l10n) Save
            .col-xs-3.col-sm-3.col-md-1.text-center#cancel
              a.btn.btn-cancel.btn-block(href="", ng-click="cancelEditMaxNetworkFee()", l10n) cancel

        h4#serverSettings(l10n) Server settings
        form.server-row-form(ng-controller="ServerRowCtrl", ng-repeat="(index, server) in options.server.servers", ng-submit="save()")
          ng-form(name="serverForm")
            .row
              .col-xs-6.col-sm-5.col-md-3
                .descriptor(l10n) WebSocket host name
              .port.col-xs-4.col-sm-7.col-md-9
                .descriptor.portNumber(l10n) Port number
            .row.row-padding-small(ng-show="editing")
              .col-xs-6.col-sm-5.col-md-3.hostname-wrapper
                input.form-control.host(name='host', type='text', ng-model='server.host'
                    rp-hostname
                    rp-server-loading='server_loading'
                    rp-spinner='{{server_loading ? 4: null}}')
                .errorGroup
                  div(rp-errors='host')
                    .error(rp-error-on='rpHostname', l10n) Socket ip or hostname is invalid or is down.
                  div(rp-errors='port')
                    .error(rp-error-on='rpPortNumber', l10n) Port number is invalid.
              .col-xs-3.col-sm-2.col-md-2
                input.form-control.socketPort(name='port', type='text', ng-model='server.port', rp-port-number)
              .col-xs-3.col-md-1.col-sm-2.editable#secureSocket
                div.helperInput
                  label
                    input(type="checkbox", name="secure", ng-model='server.secure')
                    span(l10n) Secure
              .col-xs-6.col-sm-6.col-md-3
                button.btn.btn-block.btn-success.btn-xs.submit#save(type='submit'
                ng-disabled='serverForm.$invalid', l10n) Save
              .col-xs-3.col-sm-3.col-md-2(ng-show="hasRemove()")
                button.btn.btn-block.btn-danger.btn-xs.submit#delete(type="button", ng-click="remove()", ng-show="hasRemove()", l10n) Delete
              .col-xs-3.col-sm-3.col-md-1.text-center#cancel
                a.btn.btn-cancel.btn-block(href="", ng-click="cancel()", ng-hide="noCancel()", l10n) cancel
            .row.advanced-form-row(ng-hide="editing")
              .col-xs-6.col-sm-5.col-md-3
                .description {{server.host}}
              .col-xs-3.col-sm-3.col-md-2.port-wrapper
                .description {{server.port}}
              .col-xs-3.col-sm-2.col-md-2#secureSocket
                .description(ng-show="server.secure", l10n) Secure
                .description(ng-hide="server.secure", l10n) Not Secure
              .col-xs-3.col-sm-2.col-md-2
                a.btn.btn-cancel.btn-block(href="", ng-click="editing = true", l10n) edit

        .row
          .col-xs-12.col-sm-6.col-md-3
            button.btn.btn-block.btn-primary#newServer(type="button", ng-click="addServer()", l10n) Add new server

