section.col-xs-12.content(ng-controller="AdvancedCtrl")
  .row
    .col-sm-3
      include settings/navbar
    .col-sm-9.list
      section.content(id="servers")
        h4(l10n) Settings
        form(name="blobForm", ng-submit="saveBlob()")
          .descriptor(ng-show="'web' === client", l10n) Blob vault
          .row(ng-hide="editBlob")
            .col-xs-12.col-sm-8.col-md-5
              .description {{options.blobvault}}
            .col-xs-1
            .col-xs-3.col-sm-3.col-md-2
              a(href="", ng-click="editBlob = true", l10n) edit
          .row(ng-show="editBlob")
            .col-xs-12.col-sm-8.col-md-5
              input.form-control.blobIp(
              name='blobIp', id="blobIp", type='text'
              ng-model='options.blobvault')
            .col-xs-1
            .col-xs-3.col-sm-3.col-md-2
              button.btn.btn-block.btn-success.btn-xs.submit(id = 'saveBlob', type='submit', ng-disabled='blobForm.$invalid', l10n) Save
            .col-xs-3.col-sm-3.col-md-2
              button.btn.btn-block.btn-success.btn-xs.submit(id="deleteBlob", type="button", ng-click="deleteBlob()", l10n) Delete
            .col-xs-3.col-sm-3.col-md-2(id="cancel")
              a(href="", ng-click="cancelEditBlob()", l10n) Cancel
        form(name="bridgeForm", ng-submit="saveBridge()")
          .descriptor(l10n) Bitcoin bridge
          .row(ng-hide="editBridge")
            .col-xs-12.col-sm-8.col-md-5
              .description {{options.bridge.out.bitcoin}}
            .col-xs-1
            .col-xs-3.col-sm-3.col-md-2
              a(href="", ng-click="editBridge = true", l10n) edit
          .row(ng-show="editBridge")
            .col-xs-12.col-sm-8.col-md-5
              input.form-control.btcDomain(
              name='btcDomain', id="btcDomain", type='text'
              ng-model='options.bridge.out.bitcoin')
            .col-xs-1
            .col-xs-3.col-sm-3.col-md-2
              button.btn.btn-block.btn-success.btn-xs.submit(id = 'saveBridge', type='submit', ng-disabled='bridgeForm.$invalid', l10n) Save
            .col-xs-3.col-sm-3.col-md-2
              button.btn.btn-block.btn-success.btn-xs.submit(id="deleteBridge", type="button", ng-click="deleteBridge()", l10n) Delete
            .col-xs-3.col-sm-3.col-md-2(id="cancel")
              a(href="", ng-click="cancelEditBridge()", l10n) Cancel
        form(name="accountsAdvForm", ng-submit="saveAcctOptions()")
          .descriptor(ng-show="'web' === client", l10n) Trust line
          .row(ng-hide="editAcctOptions")
            .col-xs-6.col-sm-5.col-md-3
              .description Advanced settings
            .col-xs-6.col-sm-5.col-md-3
              .description(ng-show="advanced_feature_switch", l10n) Show
              .description(ng-hide="advanced_feature_switch", l10n) Hide
            .col-xs-3.col-sm-3.col-md-2
              a(href="", ng-click="editAcctOptions = true", l10n) edit
          .row(ng-show="editAcctOptions")
            .col-xs-6.col-sm-5.col-md-3
              .description Advanced settings
            .col-xs-2
              div.helperInput
                label
                  input(type="checkbox", name="acct_adv", ng-model='advanced_feature_switch')
                  span(l10n) Show
            .col-xs-2
              button.btn.btn-block.btn-success.btn-xs.submit(id='save', type='submit'
              ng-disabled='serverForm.$invalid', l10n) Save
            .col-xs-2
              button.btn.btn-block.btn-success.btn-xs.submit(id="delete", type="button", ng-click="remove()", ng-show="hasRemove()", l10n) Delete
            .col-xs-3.col-sm-3.col-md-2(id="cancel")
              a(href="", ng-click="cancelEditAcctOptions()", l10n) Cancel
        h4(id="serverSettings", l10n) Server settings
        form(ng-controller="ServerRowCtrl", ng-repeat="(index, server) in options.server.servers", ng-submit="save()")
          ng-form(name="serverForm")
            .row
              .col-xs-12
                .descriptor(l10n) WebSocket host name
            .row(ng-show="editing")
              .col-xs-6.col-sm-5.col-md-3
                input.form-control.host(name='host', type='text', ng-model='server.host', rp-hostname)
                .errorGroup
                  div(rp-errors='host')
                    .error(rp-error-on='rpHostname', l10n) Socket ip or hostname is invalid.
                  div(rp-errors='port')
                    .error(rp-error-on='rpPortNumber', l10n) Port number is invalid.
              .col-xs-2
                input.form-control.socketPort(name='port', type='text', ng-model='server.port', rp-port-number)
              .col-xs-1(id="secureSocket")
                div.helperInput
                  label
                    input(type="checkbox", name="secure", ng-model='server.secure')
                    span(l10n) Secure
              .col-xs-2
                button.btn.btn-block.btn-success.btn-xs.submit(id='save', type='submit'
                ng-disabled='serverForm.$invalid', l10n) Save
              .col-xs-2
                button.btn.btn-block.btn-success.btn-xs.submit(id="delete", type="button", ng-click="remove()", ng-show="hasRemove()", l10n) Delete
              .col-xs-2(id="cancel")
                a(href="", ng-disabled='serverForm.$invalid', ng-click="cancel()", l10n) Cancel
            .row(ng-hide="editing")
              .col-xs-6.col-sm-5.col-md-3
                .description {{server.host}}
              .col-xs-2
                .description {{server.port}}
              .col-xs-1(id="secureSocket")
                .description(ng-show="server.secure", l10n) Secure
                .description(ng-hide="server.secure", l10n) Not Secure
              .col-xs-2
                a(href="", ng-click="editing = true", l10n) edit

        .row
          .col-xs-12.col-sm-8.col-md-3.col-lg-2
            button.btn.btn-block.btn-primary(type="button", id="newServer", ng-click="addServer()", l10n) Add new server

