section.col-xs-12.content(ng-controller="BalanceCtrl")
  //- Disconnected

  group.disconnected(ng-hide="connected")
    p.literal(l10n) You have to be online to see this screen

  group.disconnected(ng-hide="!connected || loadState.account")
    p.literal(l10n) Loading...

  //- Connected

  group(ng-show="connected && loadState.account")
    .div#welcome(ng-hide='account.Balance')

      p.title(l10n) Welcome to Ripple.
      //p(l10n) You currently don&#39;t have any ripples (XRP). To get started you can:
      //.actions
      //  a.receive(href="#receive")
      //  a.buy(href="https://support.ripplelabs.com/hc/en-us/articles/201209016")
      //  a.giveaway(href="https://support.ripplelabs.com/hc/en-us/articles/201082577-Current-Ripple-Labs-giveaways")

    .row
      .col-xs-12.col-xs-8
        .currency-overview
          .balancebox.col-sm-4
            .lbl Total Balance
              .desc Estimated from exchange rates
            .total.amount 0.
              span.fraction 0000
              select.currency
                option(selected=true) XRP
                option USD
                option BTC
                option CNY
            .pending(ng-show="pending")
              .lbl Pending
              .transactions
                .amount 
                  span.fraction {{pending.amount}}
                  span.currency {{pending.currency}}
          //- B2R hardcode
          .funding-options.col-sm-8
            .B2R(ng-show="loadState.B2RApp")
              .active(ng-show="B2R.active")
                div(ng-show="loadState.B2RInstructions")
                  .instructions {{B2R.instructions.instruction}}
                  .btc-address {{B2R.instructions.instructionParams[0].value}}
                  .qr-code
                    rp-qrcode(data="bitcoin:{{B2R.instructions.instructionParams[0].value}}", size="100")
                  .about(l10n, ng-hide="account.Balance") A small amount (~.001 BTC) of your first
                    | transfer will be converted to XRP to activate your wallet.&#32;
                    a.why(href="", l10n-inc) Why?
                  .limit(ng-show="B2R.limit")
                    span(l10n) Your current deposit limit is:
                    span.amount {{B2R.limit}}
                      span.currency  BTC
                    a.remove(href="", l10n) Remove Limit
                div(ng-hide="loadState.B2RInstructions") Loading...
              .inactive(ng-hide="B2R.active")
                .row
                  .col-xs-12.col-sm-8.col-md-6
                    label Use the BTC2Ripple service to add SnapSwap bitcoins
                .row
                  .col-xs-12.col-sm-5.col-md-4
                    button.btn.btn-default.btn-primary.btn-block(ng-click="B2RFields=true", ng-hide="B2RFields") Add Bitcoin
              form.fields(name="b2rform", ng-show="B2RFields && !B2R.active", ng-submit="B2RSignup()")
                .form-group(ng-repeat="(name,field) in B2RSignupFields")
                  label(for="{{name}}Field") {{field.label}}
                  div.description(ng-show="field.description") {{field.description}}
                  input.form-control(name="{{name}}Field", type="email",
                    id="{{name}}Field", ng-model="B2RFieldValue[name]", required)
                button.btn.btn-success(type="submit", ng-disabled="B2R.progress || b2rform.$invalid")
                  span(l10n, ng-hide="B2R.progress") Add Bitcoins
                  span(l10n, ng-show="B2R.progress") Loading...
            .B2R(ng-hide="loadState.B2RApp") Loading...
           a.manual(href="", l10n, ng-show="") Manually add a funding source
        .currency-summary(ng-show='account.Balance')
          .balancebox.currency-xrp
            .total.row
              .lbl.col-xs-8
                i.icon-ripple-logo
                | XRP - Ripple
              .balance.col-xs-4
                | {{ account.Balance | rpamount:{rel_precision: 2, max_sig_digits: 20} }}
            .component.row
              .lbl.col-xs-8 Available
              .balance.col-xs-4 {{account.max_spend | rpamount:{rel_precision: 0} }}
            .component.row
              .lbl.col-xs-8 Reserve
              .balance.col-xs-4 {{ account.reserve | rpamount }}
          //- TODO Determine currencies order
          .balancebox.currency-non-native(ng-repeat="entry in balances", ng-class="'currency-' + (entry.total | rpcurrency | lowercase)")
            .total.row
              .lbl.col-xs-8
                a(href="", ng-click="entry.show=!entry.show")
                  i(class="icon fa fa-money", ng-class="'fa-' + (entry.total | rpcurrency | lowercase)")
                  | {{ entry.total | rpcurrencyfull }}
              .balance.col-xs-4
                a(href="", ng-click="entry.show=!entry.show") {{ entry.total | rpamount }}
            //- TODO Remember selections
            .component.row(ng-repeat="(issuer, component) in entry.components", ng-show="entry.show")
              .head
                .lbl.col-xs-8(ng-show="component.gateway.app") {{component.gateway.app.name}}
                  span.status.unverified(ng-hide="true") Unverified
                .lbl.col-xs-8(ng-hide="component.gateway.app", rp-pretty-issuer="issuer"
                  rp-pretty-issuer-contacts="userBlob.data.contacts")
                .balance.col-xs-4 {{ component | rpamount:{rel_precision: 0} }}
                  .transfer(ng-show="component.gateway.app")
                    div(ng-show="component.gateway.inboundBridge")
                      a(href="", ng-click="component.window = 'add' === component.window ? '' : 'add'", ng-class="{selected:component.window == 'add'}") Add
                    div(ng-show="component.outboundBridge")
                      a(href="") Withdraw
              .add(ng-show="component.window == 'add'")
                .inactive(ng-hide="component.gateway.user")
                  .row
                    .col-xs-12.col-sm-8.col-md-6
                      label(l10n) Use the B2R service to add bitcoins
                  .row
                    .col-xs-12.col-sm-4.col-md-3
                      button.btn.btn-default.btn-primary.btn-block(l10n)
                        | Add {{ entry.total | rpcurrencyfull }}
                  | {{component.gateway.user}}
                .active(ng-show="component.gateway.user")
                  div {{component.gateway.inboundBridge.instructions.instruction}}
                  .instruction-value {{component.gateway.inboundBridge.instructions.instructionParams[0].value}}
                  .limit(ng-show="component.gateway.inboundBridge.currencies[0].limit")
                    span(l10n) Your current deposit limit is:
                    span.amount {{ component.gateway.inboundBridge.limit }}
                      span.currency  {{component.gateway.inboundBridge.currencies[0].currency}}
              form.withdraw(ng-show="component.window == 'withdraw'")
                .step1(ng-show='!step || step==1')
                  .row
                    .col-xs-12.col-sm-6.col-md-6
                      label(for='send_destination', l10n) Enter bitcoin address.
                      input.form-control#send_destination(
                      name='send_destination', type='text')
                    .col-xs-12.col-sm-6.col-md-6
                      label(for='send_amount', l10n) Enter amount to withdraw.
                      input.form-control#send_amount(
                      name='send_amount', type='text')
                  .row.errorGroups
                    .col-xs-12.col-sm-6.col-md-6.errorGroup(rp-errors='send_destination')
                      .success(rp-error-valid)
                      .error(rp-error-on='required', l10n)
                        | Enter a valid bitcoin address
                      .error(rp-error-on='invalid', l10n)
                        | Enter a valid bitcoin address
                    .col-xs-12.col-sm-6.col-md-6.errorGroup(rp-errors='send_amount')
                      .success(rp-error-valid)
                      .error(rp-error-on='invalid', l10n)
                        | Enter a valid amount
                  .row
                    .col-xs-12.col-sm-4.col-md-3
                      button.btn.btn-block.btn-success.submit(type='submit',
                      ng-disabled='', ng-click="step=2", l10n)
                        | Withdraw
                .step2(ng-show='step==2')
                  label(l10n) You are sending
                    span.amount 1.2345
                    |  BTC to:
                  .btc_address 1agizZ31TmpachYAuG3n56XCb1R5vc3cTQ
                  .row
                    .col-xs-12.col-sm-3
                      button.btn.btn-block.btn-default(ng-click="step=1", l10n)
                        | Back
                    .col-xs-12.col-sm-3
                      button.btn.btn-block.btn-success.submit(type='submit',
                      ng-disabled='', ng-click="step=3", l10n)
                        | Confirm
                .step3(ng-show='step==3')
                  .row
                    .col-xs-12.col-sm-6
                      .message.type-offline Offline
                      .message.type-success Transaction Successful
                      .message.type-warning Warning
                      .message.type-error Transaction Failed
                      .message.type-info Message
                  .row
                    .col-xs-12.col-sm-3
                      button.btn.btn-block.btn-default(ng-click="step=1", l10n)
                        | Back