section.col-xs-12.content(ng-controller="BalanceCtrl")
  //- Disconnected

  group.disconnected(ng-hide="connected")
    p.literal(l10n) You have to be online to see this screen

  group.disconnected(ng-hide="!connected || loadState.account")
    p.literal(l10n) Loading...

  //- Connected
  div.auth-attention.banner(ng-show="'web' === client && !loadingAccount && !account.Balance && loadState.account && connected")
    h4(l10n) Welcome to Ripple Trade! To activate your account, you'll need at least 20 XRP.
    ul
      li(l10n) Have another user send XRP to your Ripple name (~{{userCredentials.username}})
      li(l10n) Use the bitcoin funding flow. A small amount of your first deposit
        | will be used to activate your account.
      li(l10n) If your account remains unfunded for 30 days, you will no longer be
        | able to login using your Ripple name (~{{userCredentials.username}}).
        | You'll need to sign up for a new Ripple name.
  group(ng-show="connected && loadState.account")
    .row
      .col-xs-12.col-xs-8
        .currency-overview
          .balancebox.col-xs-8
            .lbl(l10n) Total Balance
              .desc(l10n) Estimated from exchange rates
            .total.amount(ng-show="exchangeRatesNonempty")
              span.amount {{ aggregateValueDisplayed.toFixed(4) }}
              select.currency(ng-model='selectedValueMetric'
                ng-change='changeMetric(this)'
                ng-options='metric.code as metric.text for metric in valueMetrics')
            p.literal(l10n ng-hide="exchangeRatesNonempty") Loading...
            .lbl(ng-show="hasNegative")
              .desc(l10n) (excluding negative balances)
          .col-xs-4(ng-class="{ 'blank' : !exchangeRatesNonempty }")
            rp-pie-chart(
              rp-size="120"
              rp-drops="account.Balance"
              rp-ious="balances"
              rp-exchange-rates="exchangeRates")
        .currency-summary
          .balancebox.currency-xrp
            .total.row
              .lbl.col-xs-8
                i.icon-ripple-logo
                | XRP - Ripple
              .balance.col-xs-4
                span(ng-show="account.Balance") {{ account.Balance | rpamount:{rel_precision: 2, max_sig_digits: 20} }}
                span(ng-hide="account.Balance") 0
            .component.row
              .lbl.col-xs-8
                span(l10n) Available&#32;
                i.fa.fa-question-circle(
                  rp-popover
                  rp-popover-placement="bottom"
                  l10n-rp-popover-title="Available amount"
                  rp-popover-trigger="hover"
                  l10n-data-content="Total amount of XRP in your account minus the reserve amount.")
              .balance.col-xs-4
                span(ng-show="account.max_spend") {{account.max_spend | rpamount:{rel_precision: 0} }}
                span(ng-hide="account.max_spend") 0
            .component.row
              .lbl.col-xs-8
                span(l10n) Reserve&#32;
                i.fa.fa-question-circle(
                  rp-popover
                  rp-popover-placement="bottom"
                  l10n-rp-popover-title="Reserve amount"
                  rp-popover-trigger="hover"
                  l10n-data-content="Minimum amount of XRP required to fund your account. You cannot spend the reserve.")
              .balance.col-xs-4
                span(ng-show="account.reserve") {{ account.reserve | rpamount }}
                span(ng-hide="account.reserve") 0
          //- TODO Determine currencies order
          .balancebox.currency-non-native(ng-repeat="entry in balances", ng-class="'currency-' + (entry.total | rpcurrency | lowercase)")
            .total.row
              .lbl.col-xs-8
                a(href="", ng-click="entry.show=!entry.show")
                  i(class="icon fa fa-money", ng-class="'fa-' + (entry.total | rpcurrency | lowercase)")
                  span(rp-currency="entry.total", rp-currency-full)
              .balance.col-xs-4
                a(href="", ng-click="entry.show=!entry.show") {{ entry.total | rpamount }}
            //- TODO Remember selections
            .component.row(ng-repeat="(issuer, component) in entry.components", ng-show="entry.show")
              .head
                .lbl.col-xs-8(ng-show="component.gateway.app") {{component.gateway.app.name}}
                  span.status.unverified(ng-hide="true", l10n) Unverified
                .lbl.col-xs-8(ng-hide="component.gateway.app", rp-pretty-issuer="issuer"
                  rp-pretty-issuer-contacts="userBlob.data.contacts")
                .balance.col-xs-4 {{ component | rpamount:{rel_precision: 0} }}
              form.withdraw(ng-show="component.window == 'withdraw'")
                .step1(ng-show='!step || step==1')
                  .row
                    .col-xs-12.col-sm-6.col-md-6
                      label(for='send_destination', l10n) Enter bitcoin address.
                      input.form-control#send_destination(
                      name='send_destination', type='text')
                    .col-xs-12.col-sm-6.col-md-6
                      label(for='send_amount', l10n) Enter amount to withdraw.
                      input.form-control#send_amount(
                      name='send_amount', type='text')
                  .row.errorGroups
                    .col-xs-12.col-sm-6.col-md-6.errorGroup(rp-errors='send_destination')
                      .success(rp-error-valid)
                      .error(rp-error-on='required', l10n)
                        | Enter a valid bitcoin address
                      .error(rp-error-on='invalid', l10n)
                        | Enter a valid bitcoin address
                    .col-xs-12.col-sm-6.col-md-6.errorGroup(rp-errors='send_amount')
                      .success(rp-error-valid)
                      .error(rp-error-on='invalid', l10n)
                        | Enter a valid amount
                  .row
                    .col-xs-12.col-sm-4.col-md-3
                      button.btn.btn-block.btn-success.submit(type='submit',
                      ng-disabled='', ng-click="step=2", l10n)
                        | Withdraw
                .step2(ng-show='step==2')
                  label(l10n) You are sending
                    span.amount  1.2345
                    |  BTC to:
                  .btc_address 1agizZ31TmpachYAuG3n56XCb1R5vc3cTQ
                  .row
                    .col-xs-12.col-sm-3
                      button.btn.btn-block.btn-default(ng-click="step=1", l10n)
                        | Back
                    .col-xs-12.col-sm-3
                      button.btn.btn-block.btn-success.submit(type='submit',
                      ng-disabled='', ng-click="step=3", l10n)
                        | Confirm
                .step3(ng-show='step==3')
                  .row
                    .col-xs-12.col-sm-6
                      .message.type-offline(l10n) Offline
                      .message.type-success(l10n) Transaction Successful
                      .message.type-warning(l10n) Warning
                      .message.type-error(l10n) Transaction Failed
                      .message.type-info(l10n) Message
                  .row
                    .col-xs-12.col-sm-3
                      button.btn.btn-block.btn-default(ng-click="step=1", l10n)
                        | Back