section.col-xs-12.content(ng-controller='BtcCtrl')
  //- the ng-states & ng-clicks should be implemented
  //- Connected
  //- group.connected(ng-show="connected")
  group.connected
    .row
      .col-xs-12
        div.notification-wrapper
          .alert.alert-success
            | Success! You can deposit BTC via your generated BTC receiving address.

  //- Disconnected
  group.disconnected(ng-hide='connected')
    p.literal(l10n="err-you-must-be-online-to-see-this-screen", l10n)
      | You have to be online to see this screen

  //- Funding
  div(ng-show="'web' === client && !loadingAccount && !account.Balance && loadState.account && connected")
    include banner/unfunded

  .row(ng-show='connected')
    .col-sm-4.col-md-3.col-xs-12
      include fund/menu
    .col-sm-8.col-md-9.col-xs-12.list
      .fundBtc
        .nameLine(l10n) Bitcoin Deposit

        .btc-tab-description.row
          .col-md-3
              h4(l10n) Gateway
              .description(l10n) btc2ripple, powered by 
                a(href="https://www.snapswap.us/", target="_blank") Snapswap
          .col-md-3
              h4(l10n) Availability
              .description(l10n) All countries
          .col-md-3
              h4(l10n) Fees
              .description(l10n) 0% 
          .col-md-3
              h4(l10n) Rating
              .description(l10n) We get the ratings from 
                  a(href="https://coinist.co/", target="_blank") Coinist
        .row.btc-tab-description
          .col-md-6
            .description(ng-show="!gbiConnected", l10n) Ripple Trade has partnered with GBI to provide easy access to XAU.
              | By continuing, you agree to GBI's terms of service. Following this action will
              | add XAU to your accounts.
        
        .row.btc-tab-description
          .col-xs-9.col-sm-5.col-md-4
            rp-popup
              a.btn.btn-success.btn-sm.btn-block.sign(href="", rp-popup-link,
                ng-click="openPopup()", l10n) Add btc2ripple
              div.connectModal(rp-popup-content)
                .modal-header
                  .navbar-brand.hidden-sm.modal-logo#logo
                  .modal-title(l10n) Connect
                .modal-body
                  div.modal-prompt(l10n) btc2ripple would like to:
                  div.grey-focus
                    div.modal-permissions(l10n) - Receive your email address&#32;
                      span.modal-email(l10n) ({{userBlob.data.email}})
                    div.modal-permissions(l10n) - Hold deposited BTC on your behalf
                  div.modal-agreement(l10n) By proceeding, you agree to the btc2ripple
                    a(href="https://btc2ripple.com/#/terms/of/service", target="_blank")  terms of service.
                  div.modal-buttons
                    button.modal-btn.btn.btn-default.btn-success.btn-md(ng-click="B2RSignup()",
                      rp-spinner='{{loading ? 4 : null}}', ng-disabled="loading")
                      span(ng-show="loading", l10n) Loading...
                      span(ng-hide="loading", l10n) Confirm
                    button.modal-btn.btn.btn-default.btn-link.btn-cancel(data-dismiss="modal"
                      ng-hide="loading", l10n) cancel
                  span.modal-error(ng-show="emailError", l10n)
                    | SnapSwap's btc2ripple service is currently unavailable.
                    |  Please check back later.
            //- button.btn.btn-block.btn-primary(ng-show="show_instructions && connected", type="submit", ng-click="show_instructions = false") Hide instructions
            //- button.btn.btn-block.btn-primary(ng-show="connected && !show_instructions", type="submit", ng-click="show_instructions = true") Show instructions
            button.btn.btn-block.btn-primary Hide instructions
            button.btn.btn-block.btn-primary Show instructions


          .connect.col-md-2
            //- .description(ng-hide="loadState.B2RApp", l10n)
            .description(l10n)
              i.fa.fa-times
              | Not connected
            //- .description(ng-show="connected && loadState.B2RApp", l10n)
            .description(10n)
              i.fa.fa-check
              | Connected


        .B2R.row(ng-show="loadState.B2RApp")         
          .active.col-xs-12(ng-show="B2R.active")
            div(ng-show="loadState.B2RInstructions")
              .instructions {{B2R.instructions.instruction}}
              .btc-address {{B2R.instructions.instructionParams[0].value}}
              .qr-code
                rp-qrcode(data="bitcoin:{{B2R.instructions.instructionParams[0].value}}", size="100")
              .about(ng-hide="account.Balance", l10n) A small amount (~.001 BTC) of your first
                |  transfer will be converted to XRP to activate your wallet.&#32;
                a.why(href="https://ripple.com/wiki/Reserves",
                target="_blank", l10n-inc) Why?
              .limit(ng-show="B2R.limit")
                span(l10n) Your current deposit limit is:
                rp-inbound-bridge-limit(limit="B2R.limit")
                a.remove(href="https://btc2ripple.com/#/my/setup"
                target="_blank", l10n) Remove Limit
            div(ng-hide="loadState.B2RInstructions") Loading...
          .inactive(ng-hide="B2R.active")
            span(ng-show="loading")
              label(l10n) Waiting for response from SnapSwap service...
            span(ng-hide="loading")
              label(l10n) To deposit, generate a bitcoin receiving address
                |  using the&#32;
                a(href="https://btc2ripple.com", target="_blank") btc2ripple
                |  service powered by SnapSwap.
              .row.action
                .col-xs-12.col-sm-6.col-md-4
                  rp-popup
                    a.btn.btn-success.btn-sm.btn-block.sign(href="", rp-popup-link,
                      ng-click="openPopup()", l10n) Generate bitcoin address
                    div.connectModal(rp-popup-content)
                      .modal-header
                        .navbar-brand.hidden-sm.modal-logo#logo
                        .modal-title(l10n) Connect
                      .modal-body
                        div.modal-prompt(l10n) btc2ripple would like to:
                        div.grey-focus
                          div.modal-permissions(l10n) - Receive your email address&#32;
                            span.modal-email(l10n) ({{userBlob.data.email}})
                          div.modal-permissions(l10n) - Hold deposited BTC on your behalf
                        div.modal-agreement(l10n) By proceeding, you agree to the btc2ripple
                          a(href="https://btc2ripple.com/#/terms/of/service", target="_blank")  terms of service.
                        div.modal-buttons
                          button.modal-btn.btn.btn-default.btn-success.btn-md(ng-click="B2RSignup()",
                            rp-spinner='{{loading ? 4 : null}}', ng-disabled="loading")
                            span(ng-show="loading", l10n) Loading...
                            span(ng-hide="loading", l10n) Confirm
                          button.modal-btn.btn.btn-default.btn-link.btn-cancel(data-dismiss="modal"
                            ng-hide="loading", l10n) cancel
                        span.modal-error(ng-show="emailError", l10n)
                          | SnapSwap's btc2ripple service is currently unavailable.
                          |  Please check back later.
