include ../menu/wallet.jade
section.col-xs-12.col-md-10.content(ng-controller="CashinCtrl")

  //- Disconnected

  group.disconnected(ng-hide="connected")
    p.literal(l10n) You have to be online to see this screen

  group.disconnected(ng-hide="!connected || loadState.account")
    p.literal(l10n) Loading...

  .unfunded(ng-hide='account.Balance || !connected')
    p.literal(l10n="err-you-must-be-funded-before-you-can-convert-money", l10n) You have to be funded before you can convert money
    p: a.btn.btn-default(href="#/balance", l10n) Back to balance

  //- Connected

  div(ng-show='account.Balance')
    p.literal(l10n) Cash In
    hr
    ul.cashin-list
      li
        .row.front
          .col-sm-3
            img.logo(src="img/cashin/zipzap.png")
          .col-sm-6
            .description(l10n) ZipZap, Inc. is a cash payment network that you
              |  can use to fund your Ripple account. Simply deposit U.S.
              |  dollars at one of ZipZap's payment centers.
          .col-sm-3
            .actions
              span(ng-show="loading", l10n) Loading...
              span(ng-hide="!zipzap || loading") ID: {{zipzap.ZipZapAcctNum}}

              div(ng-show="!loading")
                span(ng-show="zipzap")
                  button.btn.btn-small.btn-default(ng-click="details=!details")
                    span(ng-hide="details", l10n) Show Details
                    span(ng-show="details", l10n) Hide Details
                span(ng-hide="zipzap")
                  button.btn.btn-success.btn-block(ng-click="displaySignupForm=true",
                    ng-disabled="displaySignupForm", l10n) Sign Up

        .row.details(ng-show="details")
          .col-md-4
            ul.account
              li ZipZap account number:
                strong  {{zipzap.ZipZapAcctNum}}
              li First name:
                strong  {{zipzap.FirstName}}
              li Last name:
                strong  {{zipzap.LastName}}
              li Address:
                strong  {{zipzap.Address}}
              li City:
                strong  {{zipzap.City}}
              li State:
                strong  {{zipzap.State}}
              li Postal code:
                strong  {{zipzap.PostalCode}}
              li Country code:
                strong  {{zipzap.Country}}
              li Phone:
                strong  {{zipzap.Phone}}
              li Date of birth:
                strong  {{zipzap.DateOfBirth}}
              li Email:
                strong  {{zipzap.Email}}
          .col-md-8.locator
            div.locateTxt(l10n) Go to any payment center and present cash and
              |  your 9 digit ZipZap account number. Wait approximately 1 hour,
              |  and your deposited USD will show in the Ripple client as
              |  balances on the SnapSwap gateway. For support, please visit&#32;
              a(href="http://support.zipzapinc.com", target="_blank") http://support.zipzapinc.com.
            div.locateTxt(l10n) Locate a payment center
            .row.row-padding-small
              form(name="locateForm", ng-submit="locate()")
                .col-md-8
                  input.form-control(type="text", name="query", ng-model="query", required
                    placeholder="Please enter your City and State or Postal Code")
                .col-md-4
                  button.btn.btn-success.btn-block(type="submit",
                    ng-disabled="locateStatus=='loading' || locateForm.$invalid")
                    span(ng-hide="locateStatus=='loading'", l10n) Search!
                    span(ng-show="locateStatus=='loading'", l10n) Loading...
            ul.locations
              li(ng-repeat="location in locations.PayCenters")
                .name {{location.PayCenterName}}
                a(href="http://maps.google.com/maps?q={{location.Address}}, {{location.City}}, {{location.State}}, {{location.PostalCode}}", target="_blank", l10n) show on map
                div(l10n) Address: {{location.Address}}, {{location.City}},
                  |  {{location.State}}, {{location.PostalCode}}.
                div(l10n) Phone: {{location.Phone}}
              div(ng-show="locateStatus=='notfound'", l10n)
                | Sorry, there are no payment centers for your query.

        .row
          .col-xs-12.col-md-6
            .signup(ng-show="displaySignupForm")
              form#signupForm(name='signupForm', ng-submit="signup()")
                label(for='firstname', l10n) First name
                input.form-control#firstname(name='firstname', type='text',
                  ng-model='form.firstname'
                  required)
                .errorGroup(rp-errors='firstname')
                  .error(rp-error-on='required', l10n)
                    | Please enter your first name.
                label(for='lastname', l10n) Last name
                input.form-control#lastname(name='lastname', type='text', ng-model='form.lastname'
                  required)
                .errorGroup(rp-errors='lastname')
                  .error(rp-error-on='required', l10n)
                    | Please enter your last name.
                label(for='address', l10n) Address
                input.form-control#address(name='address', type='text', ng-model='form.address'
                  required)
                .errorGroup(rp-errors='address')
                  .error(rp-error-on='required', l10n)
                    | Please enter your address.
                label(for='city', l10n) City
                input.form-control#city(name='city', type='text', ng-model='form.city'
                  required)
                .errorGroup(rp-errors='city')
                  .error(rp-error-on='required', l10n)
                    | Please enter your city.
                label(for='state', l10n) State
                input.form-control#state(name='state', type='text', ng-model='form.state'
                  required)
                .errorGroup(rp-errors='state')
                  .error(rp-error-on='required', l10n)
                    | Please enter your state.
                label(for='zipcode', l10n) Zip code
                input.form-control#zipcode(name='zipcode', type='text', ng-model='form.zipcode'
                  required)
                .errorGroup(rp-errors='zipcode')
                  .error(rp-error-on='required', l10n)
                    | Please enter your zipcode.
                label(for='countrycode', l10n) Country code (ex. "US")
                input.form-control#countrycode(name='countrycode', type='text', ng-model='form.countrycode'
                  required, ng-minlength="2", ng-maxlength="2")
                .errorGroup(rp-errors='countrycode')
                  .error(rp-error-on='required', l10n)
                    | Please enter your country code.
                  .error(rp-error-on='minlength', l10n)
                    | Country code should be exactly 2 characters.
                  .error(rp-error-on='maxlength', l10n)
                    | Country code should be exactly 2 characters.
                label(for='phone', l10n) Phone (Only Numbers)
                input.form-control#phone(name='phone', type='text', ng-model='form.phone'
                  required)
                .errorGroup(rp-errors='phone')
                  .error(rp-error-on='required', l10n)
                    | Please enter your phone number.
                label(for='dob', l10n) Date of birth (YYYY-MM-DD)
                input.form-control#dob(name='dob', type='text', ng-model='form.dob'
                  required, rp-dob)
                .errorGroup(rp-errors='dob')
                  .error(rp-error-on='required', l10n)
                    | Please enter your date of birth.
                  .error(rp-error-on='required', l10n)
                    | The date of birth must be in YYYY-MM-DD format.
                label(for='email', l10n) Email
                input.form-control#email(name='email', type='text', ng-model='form.email'
                  required, rp-email)
                .errorGroup(rp-errors='email')
                  .error(rp-error-on='required', l10n)
                    | Please enter your email address.
                  .error(rp-error-on='rpEmail', l10n)
                    | Please use a valid email format.
                label(for='ssn', l10n) Last 4 digits of your SSN
                input.form-control#ssn(name='ssn', type='number', ng-model='form.ssn'
                  required, ng-minlength="4", ng-maxlength="4")
                .errorGroup(rp-errors='ssn')
                  .error(rp-error-on='required', l10n)
                    | Please enter last 4 digits of your social security number.
                  .error(rp-error-on='minlength', l10n)
                    | Please enter last 4 digits of your social security number.
                  .error(rp-error-on='maxlength', l10n)
                    | Please enter last 4 digits of your social security number.
                .text-error(ng-show="error") {{error.verboseMessage}}
                .row.row-padding-small
                  .col-xs-4
                    button.btn.btn-default.btn-block(type="button"
                      ng-click="displaySignupForm=false", l10n) Cancel
                  .col-xs-8
                    button.btn.btn-success.btn-block(type="submit",
                      ng-disabled="signupForm.$invalid || signupProgress")
                      span(ng-hide="signupProgress", l10n) Sign Up
                      span(ng-show="signupProgress", l10n) Loading...