section.content(ng-controller='FundCtrl')

  //- Disconnected

  group.disconnected(ng-hide='connected')
    p.literal(l10n="err-you-must-be-online-to-see-this-screen", l10n)
      | You have to be online to see this screen

  //- Funding

  .row(ng-show='connected')
    .col-sm-3
      .currencies
        a(href="", ng-click="currencyPage = 'xrp'"
          ng-class="{active: currencyPage == 'xrp'}", l10n) XRP
        a(href="", ng-click="currencyPage = 'btc'"
          ng-class="{active: currencyPage == 'btc'}", ng-show="'web' === client", l10n) Bitcoin
        a(href="", ng-click="currencyPage = 'accounts'"
          ng-class="{active: currencyPage == 'accounts'}", l10n) Accounts
    .col-sm-9.list
      .fundXrp(ng-show="currencyPage == 'xrp'")
        div(ng-show="'web' === client")
          .nameLine(l10n) Ripple name:&#32;
            span.name(ng-show="userCredentials.username") ~{{userCredentials.username}}
            span(ng-hide="userCredentials.username", l10n) loading...
            .address
              a(href="", ng-click="showRippleAddress=true"
                ng-hide="showRippleAddress", l10n) Show address
              div(ng-show="showRippleAddress") {{address}}
          .description(l10n) Ripple names are a new feature on Ripple! Use your
            |  Ripple name (~{{userCredentials.username}}) to receive money.
            |  You can still use your full Ripple address, and while we are
            |  working to transition to Ripple names, some gateways may still
            |  ask for your full address.
        div(ng-show="'desktop' === client")
          .nameLine(l10n) Ripple address&#32;
            .address {{address}}
      .fundBtc(ng-show="currencyPage == 'btc'")
        .nameLine(l10n) Bitcoin Deposit
        .B2R(ng-show="loadState.B2RApp")
          .active(ng-show="B2R.active")
            div(ng-show="loadState.B2RInstructions")
              .instructions {{B2R.instructions.instruction}}
              .btc-address {{B2R.instructions.instructionParams[0].value}}
              .qr-code
                rp-qrcode(data="bitcoin:{{B2R.instructions.instructionParams[0].value}}", size="100")
              .about(ng-hide="account.Balance", l10n) A small amount (~.001 BTC) of your first
                |  transfer will be converted to XRP to activate your wallet.&#32;
                a.why(href="https://ripple.com/wiki/Reserves",
                target="_blank", l10n-inc) Why?
              .limit(ng-show="B2R.limit")
                span(l10n) Your current deposit limit is:
                rp-inbound-bridge-limit(limit="B2R.limit")
                a.remove(href="https://btc2ripple.com/#/my/setup"
                target="_blank", l10n) Remove Limit
            div(ng-hide="loadState.B2RInstructions") Loading...
          .inactive(ng-hide="B2R.active")
            label(l10n) To deposit, generate a bitcoin receiving address
              |  using the&#32;
              a(href="https://btc2ripple.com", target="_blank") btc2ripple 
              |  service powered by SnapSwap.
            .row.action
              .col-xs-12.col-sm-5.col-md-4
                rp-popup
                  a.btn.btn-success.btn-sm.sign(href="", rp-popup-link,
                    ng-click="openPopup()", l10n) Generate bitcoin address
                  div.connectModal(rp-popup-content)
                    .modal-header
                      .navbar-brand.hidden-sm.modal-logo#logo
                      .modal-title(l10n) Connect
                    .modal-body
                      div.modal-prompt(l10n) btc2ripple would like to:
                      div.grey-focus
                        div.modal-permissions(l10n) - Receive your email address 
                          span.modal-email(l10n) ({{userBlob.data.email}})
                        div.modal-permissions(l10n) - Hold deposited BTC on your behalf
                      div.modal-agreement(l10n) By proceeding, you agree to the btc2ripple
                        a(href="https://btc2ripple.com/#/terms/of/service", target="_blank")  terms of service.
                      div.modal-buttons
                        button.modal-btn.btn.btn-default.btn-success.btn-md(ng-click="B2RSignup()",
                          rp-spinner='{{loading ? 4 : null}}', ng-disabled="loading")
                          span(ng-show="loading", l10n) Loading...
                          span(ng-hide="loading", l10n) Confirm
                        button.modal-btn.btn.btn-default.btn-md(data-dismiss="modal"
                          ng-hide="loading", l10n) Cancel
                      span.modal-error(ng-show="emailError", l10n)
                        | SnapSwap's btc2ripple service is currently unavailable.
                        |  Please check back later.
      .fundBtc(ng-show="currencyPage == 'accounts'", ng-controller='TrustCtrl')
        span.i(class="icon fa fa-money fa-usd")
        span.currency(l10n) USD
          .accounts
            span.issuer(l10n) Issuer
            span.balance(l10n) Balance
            span.max(l10n) Max
            span.min(l10n) Min
            span.rippling(l10n) Rippling
        span.i(class="icon fa fa-money fa-btc")
        span.currency(l10n) BTC
          .accounts
            span.issuer(l10n) Issuer
            span.balance(l10n) Balance
            span.max(l10n) Max
            span.min(l10n) Min
            span.rippling(l10n) Rippling