include ../menu/wallet.jade
section.content(ng-controller="HistoryCtrl")

  //- Disconnected

  group.disconnected(ng-hide="connected")
    p.literal You have to be online to see this screen

  group.disconnected(ng-hide="!connected || loadState.transactions")
    p.literal Loading history...

  //- Account is unfunded

  .unfunded(ng-show='loadState.account && !account.Balance')
    p.literal Your account history is empty
    p: a.btn.btn-default(href="#/balance") Back to balance

  //- Connected

  group(ng-show="connected && loadState.transactions && account.Balance")
    .filters
      .type-filter
        label(ng-repeat="(index,obj) in types", ng-class="{active: obj.checked}")
          i.icon-plus(ng-show="obj.checked")
          i.icon-minus(ng-hide="obj.checked")
          span.label {{obj.name}}
          //span.count {{typeUsage[obj.name] || 0}}
          input(type="checkbox", name="type-filter", ng-model="obj.checked")
      .currency-filter
        label(ng-repeat="(currency,obj) in filters.currencies", ng-class="{active: obj.checked}")
          i.icon-plus(ng-show="obj.checked")
          i.icon-minus(ng-hide="obj.checked")
          span.label {{currency}}
          //span.count {{currencyUsage[currency] || 0}}
          input(type="checkbox", name="currency-filter", ng-model="obj.checked")
      div
        .date-filter
          span Load history for specific date range
          form(ng-submit="submitDateRangeForm()")
            label.input-group.date
              span From
              input(type="text", rp-datepicker, ng-model="dateMinView", readonly)
              span.add-on
                i.icon-calendar
            label.input-group.date
              span To
              input(type="text", rp-datepicker, ng-model="dateMaxView", readonly)
              span.add-on
                i.icon-calendar
            button.btn.btn-default.submit(type='submit') Filter
        .amount-filter
          span Minimum amount filter
          form(ng-submit="submitMinimumAmountForm()")
            input(type="text", ng-model="filters.minimumAmount")
            button.btn.btn-default.submit(type='submit') Filter

    .transactions
      .head
        .type
        .i
        .dt Date
        .desc Description
      .message(ng-hide="historyState=='loading' || historyShow")
        | Sorry, no transactions match your current filter.
      ul
        li(ng-repeat="entry in historyShow", class="{{entry.transaction.type}}"
            ng-click='details[entry.hash] = !details[entry.hash]'
            ng-class="{open: details[entry.hash]}"
            ng-class-odd="'odd'")
          .info
            span.type &nbsp;
            span.i
              i.icon-arrow-down(ng-show="entry.transaction.type=='received'")
              i.icon-arrow-up(ng-show="entry.transaction.type=='sent'")
              i.icon-download-alt.icon-rotate-90(ng-show="entry.transaction.type=='trusted'")
              i.icon-download-alt.icon-rotate-270(ng-show="entry.transaction.type=='trusting'")
              i.icon-exchange(ng-show="!entry.transaction.type || entry.transaction.type=='offernew' || entry.transaction.type=='offercancel'")
              i.icon-cogs(ng-show="entry.transaction.type=='accountset'")
            span.dt {{entry.date | date:'EEE, MMM d, h:mm a'}}
            span.desc(ng-switch on="entry.transaction.type")
              span(ng-switch-when="sent") You sent&nbsp;
                span.address(title="{{entry.transaction.counterparty}}") {{entry.transaction.counterparty | rpcontactname}}
                strong  {{entry.transaction.amount | rpamount}} {{entry.transaction.amount | rpcurrency}}
                include history/effects
              span(ng-switch-when="received")
                span.address(title="{{entry.transaction.counterparty}}") {{entry.transaction.counterparty | rpcontactname}}
                |  sent you
                strong  {{entry.transaction.amount | rpamount}} {{entry.transaction.amount | rpcurrency}}
                include history/effects
              span(ng-switch-when="trusted")
                span.address(title="{{entry.transaction.counterparty}}") {{entry.transaction.counterparty | rpcontactname}}
                |  now trusts you for
                strong  {{entry.transaction.amount | rpamount}} {{entry.transaction.amount | rpcurrency}}
                include history/effects
              span(ng-switch-when="trusting") You now trust&nbsp;
                span.address(title="{{entry.transaction.counterparty}}") {{entry.transaction.counterparty | rpcontactname}}
                |  for&nbsp;
                strong {{entry.transaction.amount | rpamount}} {{entry.transaction.amount | rpcurrency}}
                include history/effects
              span(ng-switch-when="offernew") You created an offer accepting&nbsp;
                strong {{entry.transaction.pays | rpamount}} {{entry.transaction.pays | rpcurrency}}
                |  for&nbsp;
                strong {{entry.transaction.gets | rpamount}} {{entry.transaction.gets | rpcurrency}}
                include history/effects
              span(ng-switch-when="offercancel") You cancelled an offer accepting&nbsp;
                strong {{entry.transaction.pays | rpamount}} {{entry.transaction.pays | rpcurrency}}
                |  for&nbsp;
                strong {{entry.transaction.gets | rpamount}} {{entry.transaction.gets | rpcurrency}}
                include history/effects
              span(ng-switch-when="accountset") Account details have been changed
                include history/effects
              span(ng-switch-default)
                include history/effects

          .details(ng-if="details[entry.hash]")
            .effects(ng-show="entry.balanceEffects")
              .title Balance changes
              .effect.header
                span.description Description
                span.issuer Issuer
                span.amount Amount
                span.balance Final balance
              .effect(ng-repeat="effect in entry.balanceEffects")
                span.description(ng-show="effect.type == 'balance_change'", data-label="Description") XRP balance change
                span.description(ng-show="effect.type == 'trust_change_balance'", data-label="Description") {{effect.currency}} balance change
                span.description(ng-show="effect.type == 'fee'", data-label="Description") Fee
                span.issuer(
                  rp-pretty-issuer="effect.amount.issuer().to_json()"
                  rp-pretty-issuer-contacts="userBlob.data.contacts"
                  rp-pretty-issuer-default="-"
                  data-label="Issuer"
                )
                span.amount(data-label="Amount") {{effect.amount | rpamount }} {{effect.amount | rpcurrency}}
                span.balance(data-label="Final balance") {{effect.balance | rpamount }} {{effect.balance | rpcurrency}}
            .links
              a.txLink(rp-link-tx="entry.hash") Transaction details
              a.addLink(href="#/contact?to={{entry.transaction.counterparty}}", rp-no-propagate
                ng-show="entry.transaction.counterparty && !(entry.transaction.counterparty | rponlycontactname)")
                | Add
                strong  {{entry.transaction.counterparty | rpcontactname}}
                |  to contact list
      .foot
        div(ng-show="historyState=='loading'")
          | Loading...
        a.loadmore(ng-show="historyState=='ready'", href="", ng-click="loadMore()") Load more
        div(ng-show="historyState=='full'")
          | No more transactions left

// TODO filter calendar: High/low limits.
// TODO filter calendar: High limit calculation after the low limit
// TODO we loose history after tab change
// TODO problem when manually editing date filter input field
// TODO currency filter to work with also trust type
// TODO optimization.. double (triple on load more) update history