section.col-xs-12.content(ng-controller="KycCtrl")
  .row
    .col-xs-12(l10n) Settings
  .row
    hr
    h3(l10n) Complete your profile information
    hr
    button.btn.btn-primary(ng-click="isIndividual = true", l10n) Individual
    button.btn.btn-primary(ng-click="isIndividual = false", l10n) Business
    br
  form.row-padding-small(name="profileForm", ng-submit="save()")
    .row
      .col-xs-12.col-sm-8.col-md-5
        label(for="fullName", l10n) Full Name
        input.form-control.fullName(
          name='fullName', id="fullName", type='text'
          ng-model='profile.fullName')
    .row
      hr
    .row
      .col-xs-12.col-sm-8.col-md-5
        label(l10n) Address
        br
        label(for="line1", l10n) Line 1
        input.form-control.line1(
          name='line1', id="line1", type='text'
          ng-model='profile.line1')
    .row
      .col-xs-12.col-sm-8.col-md-5
        label(for="line2", l10n) Line 2
        input.form-control.line2(
          name='line2', id="line2", type='text'
          ng-model='profile.line2')
    .row
      .col-xs-12.col-sm-8.col-md-5
        label(for="city", l10n) City
        input.form-control.city(
          name='city', id="city", type='text'
          ng-model='profile.city')
    .row
      .col-xs-12.col-sm-8.col-md-5
        label(for="state", l10n) State/Region
        input.form-control.state(
          name='state', id="state", type='text'
          ng-model='profile.state')
    .row
      .col-xs-12.col-sm-8.col-md-5
        label(for="zip", l10n) ZIP/Postal Code
        input.form-control.zip(
          name='zip', id="zip", type='text'
          ng-model='profile.zip')
    .row
      .col-xs-12.col-sm-8.col-md-5
        label(for="country", l10n) Country
        input.form-control.line1(
          name='country', id="country", type='text'
          ng-model='profile.country')
    .row(ng-hide="isIndividual")
      .col-xs-12.col-sm-8.col-md-5
        label(for="tax_id", l10n) Tax ID
        input.form-control.line1(
          name='tax_id', id="tax_id", type='text'
          ng-model='profile.tax_id')
    hr(ng-show="isIndividual")
    label(ng-show="isIndividual", l10n) Date Of Birth
    .row(ng-show="isIndividual")
      .col-xs-4.col-sm-2.col-md-1
        label(for="country", l10n) Day
        input.form-control.line1(
          name='day', id="day", type='text'
          rp-combobox="days", rp-combobox-select
          ng-model='profile.day')
      .col-xs-4.col-sm-3.col-md-2
        label(for="month", l10n) Month
        input.form-control.line1(
          name='month', id="month", type='text'
          rp-combobox="months", rp-combobox-select
          ng-model='profile.month')
      .col-xs-4.col-sm-3.col-md-2
        label(for="year", l10n) Year
        input.form-control.line1(
          name='year', id="year", type='text'
          rp-combobox="years", rp-combobox-select
          ng-model='profile.year')
    hr(ng-show="isIndividual")
    label(ng-show="isIndividual", l10n) Identification
    .row(ng-show="isIndividual")
      .col-xs-12.col-sm-8.col-md-5
        label(for="id_type", l10n) ID Type
        input.form-control.line1(
          name='id_type', id="id_type", type='text'
          rp-combobox="id_types", rp-combobox-select
          ng-model='profile.id_type')
    .row(ng-show="isIndividual")
      .col-xs-12.col-sm-8.col-md-5
        label(for="id_number", l10n) ID Number
        input.form-control.line1(
          name='id_number', id="id_number", type='text'
          ng-model='profile.id_number')
    .row(ng-show="isIndividual")
      .col-xs-12.col-sm-8.col-md-5
        label(for="issuing_country", l10n) Issuing Country
        input.form-control.line1(
          name='issuing_country', id="issuing_country", type='text'
          ng-model='profile.issuing_country')
    .row(ng-show="isIndividual")
      .col-xs-12.col-sm-8.col-md-5
        input(name='no_ssn', id="no_ssn", type='checkbox'
          ng-model='profile.no_ssn')
        label(for="no_ssn", l10n) I am a US resident, but I do not have a social security number.
    button.btn.btn-primary.submit(type='submit', l10n) Save to profile
    a(href="") Cancel



