section.col-xs-12.content(ng-controller="RegisterCtrl")
  .row.mode-form(ng-show='mode=="form"')
    .col-xs-12.col-md-10.col-md-offset-1
      h1 Create a Ripple Wallet
      p.literal Ripple is a global open payments system — a fast, easy way to send any kind of money to
        | anyone in the world.
      p.literal.hint
        | Your Wallet is only as safe as your Wallet username and passphrase, used to encrypt your Wallet data.
        | Choose a passphrase you can easily remember but others cannot guess. Hint: Mix letters, numbers, and symbols.
      p.literal.hint.important
        | Only you have this Wallet username and passphrase and are responsible for their safekeeping. Ripple cannot
        | recover them if you forget them!&nbsp;
        a(href="https://ripple.com/blog/how-to-protect-your-account/", target="_blank") Read more

      form(name='registerForm', ng-submit='submitForm()')
        .row
          .col-sm-5.col-lg-4
            .form-group
              label(for='register_username') Create Wallet username
              input.form-control#register_username(
              name='register_username', type='text', ng-model="username", required, rp-focus)
        .row
          .col-sm-5.col-lg-4.form-group
            label(for='register_password') Create Wallet passphrase
            input.form-control#register_password(
            name='register_password1', type='password'
            ng-model="password1"
            rp-strong-password, required, rp-same-in-set="passwordSet")
          .col-sm-5.col-lg-4.form-group
            label(for='register_password2') Re-enter passphrase
            input.form-control#register_password2(
            name='register_password2'
            type='password'
            ng-model="password2"
            required, rp-same-in-set="passwordSet")
          .col-sm-2.col-lg-4(class="strength {{strength}}")
            {{strength}}
        .row
          .col-xs-12
            p.text-error(ng-show="registerForm.register_password1.$error.rpSameInSet && registerForm.register_password2.$dirty") Passwords do not match
            p.text-error(ng-show="strength=='weak'") Your password is weak. It is not a mix of letters, numbers and symbols or it is the same as your Wallet name.
        .row(ng-show="showMasterKeyInput")
          .col-sm-5.col-lg-4.form-group
            label(for='register_masterkey') Secret Account Key&nbsp;
              a(href="", ng-click="showMasterKeyInput=false;") (hide)
            input.form-control#register_masterkey(name='register_masterkey', type='text', autocomplete='off', ng-model="masterkey", rp-master-key, rp-focus)
            .errorBox(ng-show="registerForm.register_masterkey.$error.rpMasterKey")
              p.text-error Secret Account Key is invalid
        label(for='track')
          input.track#track(name='track', type='checkbox', ng-model="track")
          | Help Ripple Labs make a better product through sending anonymous client usage data.
        .row
          .col-sm-5.col-lg-4
            button.btn.btn-block.btn-success(type='submit', ng-disabled='registerForm.$invalid || submitLoading')
              span(ng-show="submitLoading") Loading...
              span(ng-hide="submitLoading") Create Wallet
          .col-sm-5.col-lg-4.storeinfo
            | Store your Wallet with:&nbsp;
            br
            span(ng-hide="storeChange")
              strong {{blobBackendCollection.something.name}}&nbsp;
              a(href="", ng-click="storeChange=true") change
            span(ng-show="storeChange", class="storeChange")
              select(ng-model="blobBackendCollection.something", ng-options="b.name for b in blobBackendCollections", ng-change="backendChange()")
        .row
          .col-xs-12.literal.throw
            | Already have a Wallet?&nbsp;
            a(href='#/login') Open wallet
            br
            span(ng-hide="showMasterKeyInput")
              | Need to use your Secret Key?&nbsp;
              a(href="", ng-click="showMasterKeyInput=true") Use Key

  .row.mode-masterkeyerror(ng-show='mode=="masterkeyerror"')
    .col-xs-12.col-md-10.col-md-offset-1
      h1 Secret Account Key error
      p.literal There is a Wallet with your Wallet username and passphrase, but the given Secret Account Key is not connected to it. If you decide to continue registration your new Secret Account Key will be used for current Wallet name and passphrase.
      p
        button.btn.btn-primary(ng-click='mode="form"') Back
        | &nbsp;
        button.btn.btn-default(ng-click='register()') Overwrite current key

  .row.mode-masterkeyerror(ng-show='mode=="loginerror"')
    .col-xs-12.col-md-10.col-md-offset-1
      h1 Existing account error
      p.literal There is a Wallet with a similar Wallet name and passphrase, but this wallet could not be decrypted. Try choosing a different wallet name and/or passphrase.
      p
        button.btn.btn-primary(ng-click='mode="form"') Back

  .row.mode-welcome(ng-show='mode=="welcome"')
    .col-xs-12.col-md-10.col-md-offset-1
      h1 Welcome To ripple
      p.important Important:
      p.hint The Secret Account Key below gives access to your money in the unlikely case that you lose your wallet name or passphrase.
        | In that case your contacts will be lost, but with this Secret Account Key alone anyone can retrieve your money. So please
        | store it somewhere PRIVATE AND SAFE. Read more about keys and wallet safety in&nbsp;
        a(href="#") Security
      .credentials
        span.username
          | Wallet name:
          span.value {{username}}
        span.password
          | Pass phrase:
          span.value(ng-show="showPassword==true") {{password1}}&nbsp;
          span.value(ng-hide="showPassword==true") {{password}}
          rp-confirm(
          action-text="Are you in a safe place where no person or camera can see your screen?"
          action-button-text="Yes, show me"
          action-function="showPassword=true"
          cancel-button-text="no"
          ng-hide="showPassword==true")
            a(href="") Show
          a(href="", ng-click="showPassword=false", ng-show="showPassword==true") Hide
      .secret
        p.important Ripple Address
        p.key {{address}}
        p.important Secret Account key:
        p.key(ng-show="showSecret==true") {{keyOpen}}
        p.key(ng-hide="showSecret==true") {{key}}
        p(ng-hide="showSecret==true")
          rp-confirm(
          action-text="Are you in a safe place where no person or camera can see your screen?"
          action-button-text="Yes, show me"
          action-function="showSecret=true"
          cancel-button-text="no")
            button.btn.btn-info.btn-sm Show secret account key
        p(ng-show="showSecret==true")
          button.btn.btn-info.btn-sm(ng-click="showSecret=false") Hide secret account key
      p.important Have you saved your Secret Account Key somewhere safe?
      .row
        .col-xs-12.col-sm-5.col-lg-4
          a.btn.btn-info.btn-block.btn-big(href='#balance', ng-click='goToBalance()') Yes, I saved my secret account key
