section.single.modal.content(ng-controller="RegisterCtrl")
  group.mode-form(ng-show='mode=="form"')
    h1 Create a Ripple Wallet
    p.literal Ripple an open-source P2P payment system.
    form(name='registerForm', ng-submit='submitForm()')
      label(for='register_username') Create Username
      input#register_username(
        name='register_username', type='text'
        ng-model="username"
        required)
      .horiz
        div
          label(for='register_password') Password
          input#register_password(
            name='register_password1', type='password'
            ng-model="password1"
            required)
          p.text-error(ng-show="registerForm.register_password2.$error.rpSameAs && registerForm.register_password2.$dirty") Passwords do not match
        div
          label(for='register_password2') Password Again
          input#register_password2(
            name='register_password2'
            type='password'
            ng-model="password2"
            required, rp-same-as="register_password1")
        div(class="strength {{strength}}")
          {{strength}}
      a(ng-click="showMasterKeyInput=true", ng-hide="showMasterKeyInput") have a master key of your old account?
      div(ng-show="showMasterKeyInput")
        label(for='register_masterkey')
          | Master Key&nbsp;
          a(ng-click="showMasterKeyInput=false;") (hide)
        input#register_masterkey(name='register_masterkey', type='text', ng-model="masterkey", rp-master-key)
        .errorBox(ng-show="registerForm.register_masterkey.$error.rpMasterKey")
          p.text-error Master key is invalid
      .submitsection
        button.btn.btn-info(type='submit', ng-disabled='registerForm.$invalid') Create
        .storeinfo
          | Store your wallet with:&nbsp;
          span(ng-hide="storeChange")
            strong {{blobBackendCollection.something.name}}&nbsp;
            a(ng-click="storeChange=true") change
          span(ng-show="storeChange", class="storeChange")
            select(ng-model="blobBackendCollection.something", ng-options="b.name for b in blobBackendCollections", ng-change="backendChange()")
          div
            Your information will be stored encrypted on servers provided by Payward.
      p.literal.throw
        | Have a wallet already?&nbsp;
        a(href='#login') Open wallet

  group.mode-masterkeyerror(ng-show='mode=="masterkeyerror"')
    h1 Master key error
    h2 There is an account with your username and password, but given master key is not connected to it. If you decide to continue registration your new master key will be used for current username and password.
    button.btn.btn-info(ng-click='mode="form"') Back
    button.btn(ng-click='register()') Overwrite current key

  group.mode-welcome(ng-show='mode=="welcome"')
    h1 Welcome To Ripple
    h2 Your information has been saved by Payward
    p.literal This is your Ripple account information, <a href="" onClick="javascript:window.print()"><strong>PRINT THIS PAGE</strong></a> and keep it somewhere safe.
    .info
      span.username
        span.var Username:
        | {{username}}
      span.password
        span.var Password:
        | {{password}}
        button.btn.btn-info.btn-small(ng-click='showPassword()') Show Password
      span.key
        span.var Master Key:
        | {{key}}
    .action
      a.btn.btn-info.btn-big(href='#overview', ng-click='reset()') Continue
      span IMPORTANT! There is no mechanism to recover your username and password.
        a(href="http://ripple.com/help/password", target="_blank") Read why
