
section.col-xs-12.content(ng-controller="RegisterCtrl")
  .row.auth-form-container(ng-show='mode=="form"')
    .col-xs-12.col-sm-6.col-md-8.hidden-xs
      .welcomeText(l10n) Welcome to Ripple Trade!
      hr
      p.heroText(l10n) Trade hundreds of assets, from XRP to crypto to gold to fiat.
    .auth-form-wrapper.col-xs-12.col-sm-6.col-md-4
      .tabAdjust(ng-hide="oldUserBlob")
        .signUpWrapper
          h2.signUpTop(ng-hide="oldUserBlob", l10n) Sign Up
        .loginWrapper
          h2.loginTop.switch-mode-link-container
            a(href='#login', l10n-inc) Log In
      form(name='registerForm', ng-submit='submitForm()')
        h2(ng-show="oldUserBlob", l10n) Migrate
        .sign-up-steps-list
          li.active(l10n) Step
            span  1
          li(l10n) Step
            span  2
          li(l10n) Step
            span  3
        .form-group
          label(for='register_username', ng-hide="oldUserBlob", l10n) Create Ripple name&#32;
          i.fa.fa-question-circle.name-tooltip(
            rp-popover
            rp-popover-placement="top"
            rp-popover-trigger="click"
            l10n-data-content="Ripple names are public and identify you on the Ripple network. <a target='_blank' href='https://ripple.com/knowledge_center/understanding-ripple-names/'>Learn more</a>"
            )
          .auth-attention(ng-show="oldUserBlob", l10n) Please choose a Ripple name below. You will use this Ripple name to login to Ripple Trade, so remember it! Ripple names are unique and public, like your current Ripple address. &#32;
            a(href="https://ripple.com/knowledge_center/understanding-ripple-names/", l10n) &#32;Learn More
          .input-group
            span.input-group-addon.ripple-addon ~
            input.form-control#register_username(
            name='register_username', type='text', ng-model="username"
            required, rp-focus, autocomplete="off", maxlength="20", rpDest
            rp-available-name
            rp-available-name-invalid-reason="usernameInvalidReason"
            rp-available-name-reserved-for="usernameReservedFor"
            rp-loading="usernameLoading")
          .errorGroup(rp-errors='register_username', ng-hide="usernameLoading")
            .success(rp-error-valid)
               i.fa.fa-check 
               span(l10n)  Available
            .error(rp-error-on='rpAvailableName')
              span(ng-switch on="usernameInvalidReason")
                i.fa.fa-exclamation-triangle(ng-switch-when="exists")
                  span.statusText(l10n)  Already taken!
                i.fa.fa-exclamation-triangle(ng-switch-when="reserved")
                  span.statusText(l10n)  Reserved for {{usernameReservedFor}}
                  span &#32;
                  i.fa.fa-question-circle(
                  rp-popover
                  rp-popover-placement="bottom"
                  rp-popover-title='Reserved domain'
                  rp-popover-trigger="click"
                  ng-switch-when="reserved"
                  l10n-data-content="This name belongs to a high-traffic website and has been reserved to prevent phishing.")
                i.fa.fa-exclamation-triangle(ng-switch-when="tooshort")  
                  span.statusText(l10n)  Must be at least 2 characters
                i.fa.fa-exclamation-triangle(ng-switch-when="toolong")
                  span.statusText(l10n)  Must be at most 20 characters
                i.fa.fa-exclamation-triangle(ng-switch-when="charset")
                  span.statusText(l10n)  You can only use the following characters: a-z, 0-9 and hyphens (-)
                i.fa.fa-exclamation-triangle(ng-switch-when="starthyphen")
                  span.statusText(l10n)  Cannot start with hyphen (-)
                i.fa.fa-exclamation-triangle(ng-switch-when="endhyphen")
                  span.statusText(l10n)  Cannot end with hyphen (-)
                i.fa.fa-exclamation-triangle(ng-switch-when="multhyphen")
                  span.statusText(l10n)  Cannot use hyphens in a row (--)
          span.checking(ng-show="usernameLoading", l10n) Checking...
        .form-group(ng-class="{'field-error': 'weak' === strength || 'match' === strength}")
          label(for='register_password', l10n) Password
          input.form-control#register_password(
            name='register_password1', type='password', autocomplete="off"
            ng-model="password1"
            rp-strong-password, required, rp-same-in-set="passwordSet")
          p(ng-show="strength=='weak'")
            i.fa.fa-exclamation-triangle
              span.error.statusText(l10n)  Your password is weak. It does not contain numbers and symbols or it is too short.
          p(ng-show="strength=='match'")
            i.fa.fa-exclamation-triangle
              span.error.statusText(l10n)  Your Ripple name and password cannot match. Please create a new password.
        .form-group(ng-class="{'field-error': registerForm.register_password1.$error.rpSameInSet && registerForm.register_password2.$dirty}")
          label(for='register_password2', l10n) Confirm password
          input.form-control#register_password2(
            name='register_password2', autocomplete="off"
            type='password'
            ng-model="password2"
            required, rp-same-in-set="passwordSet")
          p(ng-show="registerForm.register_password1.$error.rpSameInSet && registerForm.register_password2.$dirty")
            i.fa.fa-exclamation-triangle
              span.error.statusText(l10n)  Passwords do not match
        div(ng-show="")
          .form-group
            div(class="strength {{strength}}") {{strength}}
        .form-group(ng-class="{'field-error': registerForm.register_email.$error.email && registerForm.register_email.$dirty}")
          label(for='register_email') Email
          input.form-control#register_email(type="email", name="register_email"
            placeholder="", ng-model="email", required)
          p(ng-show="registerForm.register_email.$error.email && registerForm.register_email.$dirty")
            i.fa.fa-exclamation-triangle
              span.error.statusText(l10n)  Email address is invalid
        .form-group(ng-show="showMasterKeyInput"
          ng-class="{'field-error': (registerForm.register_masterkey.$error.rpMasterKey || registerForm.register_masterkey.$error.rpMasterAddressExists)  && registerForm.register_masterkey.$dirty}")
          label(for='register_masterkey', l10n) Secret key&#32;
          a.hide-key(href="", ng-click="showMasterKeyInput=false", l10n) hide
          div.register_masterkey
            input.form-control#register_masterkey(name='register_masterkey', type='password', 
              autocomplete='off', ng-model="masterkey", rp-master-key, rp-master-address-exists, 
              rp-focus)
            div.inputSpinner(ng-hide="!checkingMasterkey")
              img.loader(src="img/sections.png")
            p(ng-show="registerForm.register_masterkey.$error.rpMasterKey")
              i.fa.fa-exclamation-triangle
                span.error.statusText(l10n)  Secret Account Key is invalid     
            .auth-attention(ng-show="registerForm.register_masterkey.$error.rpMasterAddressExists && masterkeyAddress") 
              div(l10n)
                | The account ~
                span {{ masterkeyUsername }} 
                //- span ({{ masterkeyAddress }})
                |  has already been created using this secret key.
              a.btn.btn-primary.recovery(ng-href="#/recover/{{masterkeyUsername}}", l10n) Recover Account
        .form-group
          .checkbox
            label(for='terms', l10n) I agree to the {{productName}}&#32;
              a(href="#tou", target="_blank", l10n-inc) Terms of Use
            input#terms(type="checkbox", name="terms", ng-model="terms", required)
        .see-privacy-text(l10n)
          | Please see our&#32;
          a(href="#privacypolicy", target="_blank") privacy policy
          |  to see how we collect, use and share
          |  information about you
        .submit-btn-container
          button.btn.btn-block.btn-success(type='submit'
            ng-disabled='registerForm.$invalid || submitLoading')
            img(src="img/button-s.png", class="loader", ng-show="submitLoading")
            span(class="loading_text", ng-hide="oldUserBlob", l10n) Sign Up
            span(ng-show="oldUserBlob", l10n) Migrate Account
        div.secretKey(ng-hide="showMasterKeyInput || oldUserBlob", l10n)
          | Need to use your secret key?&#32;
          a(href="", ng-click="showMasterKeyInput=true", l10n) Use key
        .switch-mode-link-container.migrateTab(ng-hide="$routeParams.action === 'migrate'", l10n) Already have a ripple.com/client account?&#32;
          a(ng-hide="$routeParams.action === 'migrate'", href='#/migrate', l10n-inc) Migrate

    
  .row.mode-masterkeyerror(ng-show='mode=="failed"')
    .col-xs-12.col-md-10.col-md-offset-1
      i.fa.fa-exclamation-triangle
        p.literal.error(l10n)  An error occurred during registration. Please try again later.
      p.literal(l10n) The reported error was:
        | &#32;
        span(ng-bind="error_detail")
      p
        button.btn.btn-primary(ng-click='mode="form"', l10n) Back

  .row.mode-masterkeyerror(ng-show='mode=="alreadyexists"')
    .col-xs-12.col-md-10.col-md-offset-1
      i.fa.fa-exclamation-triangle
        p.literal.error(l10n) There is already a wallet using this username, please choose a different username and try again.
      p
        button.btn.btn-primary(ng-click='mode="form"', l10n) Back

  .row.auth-form-container(ng-show='mode=="secret"')
    .col-xs-12.col-sm-6.col-md-8.hidden-xs
      .welcomeText(l10n) Welcome to Ripple Trade
      hr
      p.heroText(l10n) Trade hundreds of assets, from XRP to crypto to gold to fiat.
    .auth-form-wrapper.col-sm-offset-2.col-sm-6.col-md-offset-3.col-md-4
      h2(ng-hide="oldUserBlob", l10n) Sign Up
      h2(ng-show="oldUserBlob", l10n) Migrate
      .sign-up-steps-list
        li Step
          span  1
        li.active(l10n) Step
          span  2
        li(l10n) Step
          span  3
      .alert.alert-info(ng-hide="oldUserBlob", l10n)
        | By proceeding, you understand that Ripple Trade does not provide a
        |  password or secret key recovery mechanism. If you forget your Ripple
        |  name/password and secret key, you will be unable to access this
        |  Ripple account.
      .alert.alert-info(ng-show="oldUserBlob", l10n)
        | You are now migrating your account- meaning you'll no longer be able
        |  to access your account from ripple.com/client. You will retain all of
        |  your balances, contacts, and account history. Your account will use
        |  the same secret key as before. If you have already saved your secret
        |  key, please continue your migration.
      .secret-key-container
        div(ng-hide="oldUserBlob", l10n) The secret key unlocks access to all
          |  your account funds in the event you lose your Ripple name or password.
          |  Please write it down and store it somewhere private and safe.&#32;
          a.secretText(href="https://ripple.com/knowledge_center/password-recovery-and-your-secret-key/"
            target="_blank", l10n-inc) Read more
          |  about keys and wallet safety.
        div(ng-show="oldUserBlob", l10n) If you have not saved your secret key,
          |  please write it down and store it somewhere private and safe.
          |  In the event you lose your Ripple name or password, you can use
          |  this secret key to recover your funds.
        div.secret-key
          span.fa.fa-key
          span(ng-hide="showSecret") •••••••••••••••••••••••••••••
          span(ng-show="showSecret") {{keyOpen}}
        a.secretText(href="", ng-click="showSecret=!showSecret")
          span(ng-hide="showSecret", l10n) Show secret key
          span(ng-show="showSecret", l10n) Hide secret key
      .submit-btn-container
        button.btn.btn-block.btn-success(ng-click='mode="verification"')
          span(l10n) Continue to email verification

  .row.auth-form-container.mode-verification(ng-show='mode=="verification"')
    .col-xs-12.col-sm-6.col-md-8.hidden-xs
      .welcomeText(l10n) Welcome to Ripple Trade
      hr
      p.heroText(l10n) Trade hundreds of assets, from XRP to crypto to gold to fiat.
    .auth-form-wrapper.col-sm-6.col-md-4
      h2(ng-hide="oldUserBlob", l10n) Sign Up
      h2(ng-show="oldUserBlob", l10n) Migrate
      .sign-up-steps-list
        li.completed(l10n) Step
          span  1
        li.completed(l10n) Step
          span  2
        li.active(l10n) Step
          span  3
      .auth-attention(l10n) We’ve sent an email to
        span  {{userBlob.data.email}}
        | . To complete registration, click the link in the email.
      .auth-attention(ng-show="resendSuccess", l10n) Email token has been resent.
      form(name="resendForm").row
        .col-xs-12
          label(l10n) Email Address:
        .col-xs-9.col-sm-8
          .change-email-bar
            input.form-control(type="email", ng-model="newEmail", placeholder="{{userBlob.data.email}}")
        .col-xs-3.col-sm-4
          .reSend(ng-click="resendEmail()", type="submit"
            ng-disabled="resendForm.$invalid || resendLoading")
            img(src="img/button-s.png", class="loader", ng-show="resendLoading")
            div(class="loading_text") 
              a.btn.btn-cancel(l10n) Re-send Email
