section.single.content(ng-controller="RegisterCtrl")
  group.mode-form(ng-show='mode=="form"')
    h1 Create a Ripple Wallet
    p.literal ripple is an open source p2p payment network — a fast, easy way to send any kind of money to
      | anyone in the world.
    p.literal.hint
      | Your Wallet is only as safe as your Wallet Name and Passphrase, used to encrypt your Wallet data.
      | Choose a Passphrase you can easily remember but others cannot guess. Hint: Mix letters, numbers, and symbols.
    p.literal.hint.important
      | Only you have this Wallet Name and Passphrase and are responsible for their safekeeping. ripple cannot
      | recover them if you forget them!
    form(name='registerForm', ng-submit='submitForm()')
      label(for='register_username') Create Wallet Name
      input#register_username(
        name='register_username', type='text', ng-model="username", required)
      .horiz
        div
          label(for='register_password') Create Wallet Passphrase
          input#register_password(
            name='register_password1', type='password'
            ng-model="password1"
            rp-strong-password, required)
          p.text-error(ng-show="registerForm.register_password2.$error.rpSameAs && registerForm.register_password2.$dirty") Passwords do not match
        div
          label(for='register_password2') Re-Enter Passphrase
          input#register_password2(
            name='register_password2'
            type='password'
            ng-model="password2"
            required, rp-same-as="register_password1")
        div(class="strength {{strength}}")
          {{strength}}
      a(ng-click="showMasterKeyInput=true", ng-hide="showMasterKeyInput") Need to use your Secret Key?
      div(ng-show="showMasterKeyInput")
        label(for='register_masterkey')
          | Master Key&nbsp;
          a(ng-click="showMasterKeyInput=false;") (hide)
        input#register_masterkey(name='register_masterkey', type='text', ng-model="masterkey", rp-master-key)
        .errorBox(ng-show="registerForm.register_masterkey.$error.rpMasterKey")
          p.text-error Master key is invalid
      .submitsection
        button.btn.btn-info(type='submit', ng-disabled='registerForm.$invalid') Create
        .storeinfo
          | Store your wallet with:&nbsp;
          span(ng-hide="storeChange")
            strong {{blobBackendCollection.something.name}}&nbsp;
            a(ng-click="storeChange=true") change
          span(ng-show="storeChange", class="storeChange")
            select(ng-model="blobBackendCollection.something", ng-options="b.name for b in blobBackendCollections", ng-change="backendChange()")
          div Your information will be stored encrypted on servers provided by Payward.
      p.literal.throw
        | Have a wallet already?&nbsp;
        a(href='#login') Open wallet

  group.mode-masterkeyerror(ng-show='mode=="masterkeyerror"')
    h1 Master key error
    h2 There is a wallet with your wallet name and pass phrase, but the given master key is not connected to it. If you decide to continue registration your new master key will be used for current wallet name and pass phrase.
    button.btn.btn-info(ng-click='mode="form"') Back
    button.btn(ng-click='register()') Overwrite current key

  group.mode-welcome(ng-show='mode=="welcome"')
    h1 Welcome To Ripple
    p.important Important:
    p.hint The Secret key below gives access to your money in the unlikely case that you lose your wallet name or passphrase.
      | In that case your contacts will be lost, but with this Secret Key alone anyone can retrieve your money. So please
      | store it somewhere PRIVATE AND SAFE. Read more about keys and wallet safety in&nbsp;
      a(href="#") Security
    .credentials
      span.username
        | Wallet name:
        span.value {{username}}
      span.password
        | Pass phrase:
        span.value {{password}}
        rp-confirm(
          action-text="Are you in safe place where no person, or camera can see your screen?"
          action-button-text="Yes, show me"
          action-function="showPassword()"
          cancel-button-text="no")
            a Show
    .secret
      p.important Secret key:
      p.key {{key}}
      p
        rp-confirm(
          action-text="Are you in safe place where no person, or camera can see your screen?"
          action-button-text="Yes, show me"
          action-function="showSecret()"
          cancel-button-text="no")
            button.btn.btn-info.btn-small Show secret key
    p.important Have you saved your Secret Key some where safe?
    .action
      a.btn.btn-info.btn-big(href='#overview', ng-click='reset()') Yes, I saved my secret key
