section.col-xs-12.content(ng-controller="SecurityCtrl")
  .row(ng-show='connected')
    .col-xs-12(ng-hide="isUnlocked")
      .auth-attention.sessionUnlock
        h5(l10n) Active Session Timeout
        .status(l10n) To view or edit your security settings, you must currently have an active session.
        .row
          .col-xs-12.col-sm-5
            form(ng-submit="restoreSession()")
              label(for="sessionPassword", l10n) Password
              input.form-control#sessionPassword(type="password",
              name="sessionPassword", ng-model="sessionPassword", rp-focus)
              button.btn.btn-primary.btn-block(type="submit", ng-disabled="isConfirming",
              rp-spinner="{{isConfirming ? 4 : null}}")
                span(l10n) Restore Session
      .alert.alert-danger(ng-show="unlockError")
        span(l10n) Entered password is wrong.
    .col-sm-3(ng-show="isUnlocked")
      include settings/navbar
    .col-sm-9.list(ng-show="isUnlocked")
      .showSecurity(ng-show="settingsPage == 'security'")
        div(ng-show="'web' === client")
          h4(l10n) Security settings
          .section(ng-if="0")
            .alert.alert-success(ng-show="", l10n) Two factor authentication has been enbabled.
            .alert.alert-success(ng-show="", l10n) Two factor authentication has been disabled.
            .descriptor Two Factor Authentication
            .row(ng-show="loading2FA")
              .col-xs-12.col-sm-5
                div(rp-spinner="4", l10n) Loading two factor authentication settings....
            .row(ng-hide="loading2FA || errorLoading2FA || mode2FA === 'verifyPhone'")
              .col-xs-12.col-sm-3
                span(ng-show="enabled2FA", l10n) Enabled
                span(ng-hide="enabled2FA", l10n) Disabled
              .col-xs-12.col-sm-9
                a(href="", ng-show="enabled2FA", ng-click="disable2FA()", l10n) disable
                rp-popup(onOpen="open2FA")
                  a(href="", rp-popup-link, ng-hide="enabled2FA", l10n) enable
                  div.connectModal.modal2FA(rp-popup-content)
                    .modal-header
                      .navbar-brand.hidden-sm.modal-logo#logo
                      .modal-title(l10n) Connect
                    .modal-body
                      div.modal-prompt(l10n) Authy is providing two factor authentication for Ripple Trade. To enable two factor authentication, you must share some information with Authy.
                      div.grey-focus
                        .row.modal-permissions
                          .col-xs-12.col-sm-4(l10n) - Your email address:
                          .col-xs-12.col-sm-8.email {{userBlob.data.email}}
                        .row.modal-permissions
                          .col-xs-12.col-sm-4(l10n) - Your phone number:
                          .col-xs-12.col-sm-8.phone2FA
                            .form-group.authy-control
                              label(l10n) Country Code
                              input#authy-countries.form-control(name="countryCode")
                            .form-group.authy-control
                              label(l10n) Phone Number
                              input.form-control(name="phoneNumber", ng-model="phoneNumber")
                      div.modal-agreement(l10n) By proceeding, you agree to the Authy
                        a(href="https://www.authy.com/terms", target="_blank", l10n-inc)  terms of service.
                      div.modal-buttons
                        button.modal-btn.btn.btn-default.btn-primary.btn-md(ng-click="savePhone()", ng-disabled="savingPhone")
                          span(l10n) Share
                        button.modal-btn.btn.btn-default.btn-md(data-dismiss="modal"
                        ng-hide="savingPhone", l10n) Cancel
            .row.confirm2FA(ng-hide="!mode2FA || mode2FA === 'verifyPhone'")
              .col-xs-12.col-sm-3
              .col-xs-12.col-sm-9
                .status
                  div(rp-spinner="4", ng-show="mode2FA === 'savePhone'", l10n) Saving settings....
                  div(rp-spinner="4", ng-show="mode2FA === 'disable'", l10n) Disabling two factor authentication....
                  div(rp-spinner="4", ng-show="mode2FA === 'enable'", l10n) Enabling two factor authentication....
            form.verify2FA(ng-show="mode2FA === 'verifyPhone'")
              .row
                .col-xs-12
                  .status
                    span(ng-hide="via === 'app'", l10n) Please enter the verification code from the SMS message sent to your device: 
                    span(ng-show="via === 'app'", l10n) Please enter the verification code from the Authy app installed on your device: 
                    span  +{{currentCountryCode}} {{currentPhone}}
                    div(l10n-inc) Enter the code below to complete the process.
              .row
                .col-xs-12.col-sm-8
                  label(for="verifyToken", l10n) Verification Code
              .row
                .col-xs-7.col-sm-5
                  input.form-control#verifyToken(name="verifyToken", ng-model="verifyToken")
                .col-xs-5.col-sm-3
                  button.btn.btn-default.btn-block(type="button", ng-disabled="isRequesting",
                  rp-spinner="{{isRequesting ? 4 : null}}", ng-click="requestToken()")
                    span(ng-hide="via === 'app'", l10n) Resend Code
                    span(ng-show="via === 'app'", l10n) Send Via SMS
              .row
                .col-xs-7.col-sm-3
                  button.btn.btn-primary.btn-block(type="button", ng-disabled="isVerifying", ng-click="enable2FA()",
                  rp-spinner="{{isVerifying ? 4 : null}}")
                    span(l10n) Enable
                .col-xs-5.col-sm-2
                  a.txtbtn(ng-click="cancel2FA()", l10n) Cancel
            .alert.alert-danger(ng-show="errorLoading2FA", l10n) Unable to load two factor authentication settings.
            .alert.alert-danger(ng-show="error2FA", l10n) Error saving 2FA settings.
            .alert.alert-danger(ng-show="invalidToken", l10n) The verification code is invalid.
            .alert.auth-attention(ng-show="enableSuccess", l10n) Two factor authetication has been successfully enabled.
            .alert.auth-attention(ng-show="disableSuccess", l10n) Two factor authetication has been successfully disabled.
          .section
            .alert.alert-success(ng-show="success", l10n) Your Ripple password has been changed successfully.
            .descriptor(l10n) Ripple password
            .row
              .col-xs-12.col-sm-3 *****************
              .col-xs-12.col-sm-9
                a(href="", ng-click="openFormPassword=!openFormPassword"
                ng-hide="openFormPassword", l10n) edit
            .row
              .row
                .auth-form-container.col-xs-12.col-md-8.col-lg-6
                  form#renameForm(name="changeForm", ng-show="openFormPassword", ng-submit="changePassword()")
                    .form-group
                      label(type="password", for='password', l10n) Current password
                      input.form-control#password(type="password", name="password"
                      rp-focus, ng-model="password", required)
                    .alert.alert-danger(ng-show="error", ng-switch on="error")
                      span(ng-switch-when="wrongpassword", l10n)
                        | Entered password is wrong.
                      span(ng-switch-when="cantlogin", l10n)
                        | Your Ripple password has been changed, please login again
                      span(ng-switch-default, l10n)
                        | Couldn't change your Ripple password, please try again later.
                    .form-group(ng-class="{'field-error': 'weak' === strength || 'match' === strength}")
                      label(for='change_password', l10n) New password
                      input.form-control(
                      name='change_password1', type='password', autocomplete="off"
                      ng-model="password1"
                      rp-strong-password, required, rp-same-in-set="passwordSet")
                      p(ng-show="strength=='weak'")
                        span(l10n) Your password is weak. It does not contain numbers and symbols or it is too short.
                      p(ng-show="strength=='match'")
                        span(l10n) Your Ripple name and password cannot match. Please create a new password.
                    .form-group(ng-class="{'field-error': changeForm.change_password1.$error.rpSameInSet && changeForm.change_password2.$dirty}")
                      label(for='change_password2', l10n) Confirm password
                      input.form-control(
                      name='change_password2', autocomplete="off"
                      type='password'
                      ng-model="password2"
                      required, rp-same-in-set="passwordSet")
                      p(ng-show="changeForm.change_password1.$error.rpSameInSet && changeForm.change_password2.$dirty")
                        span(l10n) Passwords do not match
                    div(ng-show="")
                      .form-group
                        div(class="strength {{strength}}") {{strength}}
                    .row
                      .col-xs-12.col-sm-6
                        button.btn.btn-success.btn-block(type="submit"
                        ng-disabled="changeForm.$invalid || loading")
                          span(ng-hide="loading", l10n) Submit
                          span(ng-show="loading", l10n) Loading...
                      .col-xs-12.col-sm-6
                        a.txtbtn(href="", ng-click="openFormPassword=!openFormPassword", l10n) Cancel
          .section
            .descriptor(l10n) Secret Key
            .row
            label(l10n) Your secret key unlocks access to your account funds. Please write it down and store it
                |  somewhere private and safe. In the event you lose your Ripple name or password, you can use this secret
                |  key to recover your funds.
              div
                .part
                  span.value(ng-show="security.master_seed") {{security.master_seed}}
                  span.value(ng-hide="security.master_seed") ••••••••••••••••••••••••••••••••••••••••••••
                  a(href="", ng-click="unmaskSecret()", ng-hide="security.master_seed", l10n) Show
                  a(href="", ng-click="security.master_seed = null", ng-show="security.master_seed", l10n) Hide
          .descriptor(l10n) Password Protection
          .row
            .col-xs-12
              div.helperInput
                input.persistUnlock(name='persistUnlock', type='checkbox', ng-model='persistUnlock', ng-click='setPasswordProtection()')
                label(for='persistUnlock', l10n) Do not require password for transactions
                div.note(l10n) Your secret is stored in memory only, you’ll still have to enter your password once after reloading the page.
