include ../menu/wallet.jade
section.col-xs-12.col-md-10.wide.content(ng-controller="SecurityCtrl")
  p.important(l10n) Your money and wallet are protected digitally through
    |  encryption algorithms that can be unlocked&#32;
    b(l10n-inc) only with your personal keys
  ul.notices
    li
      span –
      span(l10n) No one else has them, so don't lose them!
    li
      span –
      span(l10n) Never share them!
  .title
    .icon.wallet
    .name(l10n) Wallet
    .more
      span(l10n) {{userBlob.data.contacts.length}} contacts,&#32;
        span {{enc.length | rpfilesize}} &ensp;
    .more
      span(rp-download='enc',rp-download-filename='ripple-wallet.txt', l10n) You can&#32;
        a(href="", rp-download-trigger, l10n-inc) backup your wallet to a file.

  .title
    .icon.money
    .name(l10n) Secret Key
  ul.description(ng-hide="showKeys")
    li(l10n) This key is for emergency use only. You did not choose it. The network created it. You don't have to memorize it.
    li(l10n) The Secret Key accesses Your money, which is already contained inside your wallet.
    li(l10n) But if you ever lose your wallet, you can recover just your money with this key.
    li
      b(l10n) Store it somewhere safe, never share it.
  div
    .infoBox(ng-show="showKeys")
      .part
        span.value(ng-show="SecretKeyUnmask") {{userCredentials.master_seed}}
        span.value(ng-hide="SecretKeyUnmask") {{userCredentials.master_seed | rpmask}}
      rp-confirm(
        action-text="Are you in a safe place, where no person, or camera can see your screen?"
        action-button-text="Yes, show me"
        action-function="SecretKeyUnmask=true"
        cancel-button-text="No"
        ng-hide="SecretKeyUnmask")
          a(href="", ng-hide="SecretKeyUnmask", l10n) Show
      a(href="", ng-click="SecretKeyUnmask=false", ng-show="SecretKeyUnmask", l10n) Hide
  .hint(ng-show="showKeys", l10n) This gives access to your money. DO NOT SHARE THIS WITH ANYONE. Keep it safe. Keep it private.

  button.btn.btn-info.show-keys(ng-click="showKeys=true", ng-hide="showKeys", l10n) Show my keys