section#t-send.single.content(ng-controller='SendCtrl')

  //- N1. Send form

  form.mode-form(name="sendForm", ng-show='mode=="form"', ng-submit='send()')
    p.literal You can send money or credits to anyone with a Ripple account.
    hr
    label(for='send_amount') Amount
    .amount
      input.value#send_amount(
        name='send_amount', type='number', step='any'
        ng-model='amount'
        ng-pattern='/^[0-9.]+$/', required)
      input.currency#send_amount_currency(
        name='send_amount_currency', type='text'
        rp-combobox="currency_query", rp-combobox-select
        ng-model='currency')
    .errorGroup(rp-errors='send_amount')
      //.success(rp-error-valid)
      //  | {{amount_feedback | rpamount}} {{amount_feedback | rpcurrency}}
      .error(rp-error-on='required')
        | Please enter an amount.
      .error(rp-error-on='pattern')
        | Not a valid amount.
    label(for='send_destination') Destination
    input#send_destination(
      name='send_destination', type='text', rp-combobox="recipient_query"
      placeholder='Contact name or Ripple address'
      ng-model='recipient'
      rp-destination, required)
    .errorGroup(rp-errors='send_destination')
      .success(rp-error-valid ng-show='recipient != recipient_address')
        | {{recipient_address}}
      .error(rp-error-on='required')
        | Please enter a recipient.
      .error(rp-error-on='rpDestination')
        | Recipient should be either a name from your contact list or Ripple
        | address.
      .error(rp-validator='rpXrpToMe')
        | You can't send XRP to yourself
    .submitsection
      button.btn.btn-success.submit(type='submit', ng-disabled='sendForm.$invalid') Send

  //- N2. Confirmation page

  group.mode-confirm(ng-show='mode=="confirm"')
    p.literal You are about to send
    p.amount_feedback
      span.value {{amount_feedback | rpamount}}&nbsp;
      span.currency {{amount_feedback | rpcurrency}}
    p.literal to the Ripple user
    .dest_feedback
      .recipient(ng-show='recipient_name') {{recipient_name}}
      .recipient(ng-hide='recipient_name') {{recipient_address}}
      .extra(ng-show="recipient != recipient_address || recipient_name")
        | {{recipient_address}}
    p.literal Are you sure?
    div
      p.submitsection
        button.btn.back(ng-click='mode="form"') &laquo; Back
        button.btn.btn-success.submit(
          type='submit'
          ng-click='send_confirmed()'
          ng-disabled='confirm_wait') Confirm

  //- N3. Waiting for transaction result page

  group.mode-sending(ng-show='mode=="sending"')
    p.throbber.literal Sending transaction to Ripple network
    hr
    p: button.btn(ng-click='reset()') Stop waiting

  //- N4. Error page

  group.mode-error(ng-show='mode=="error"')
    p.literal Sorry, an error occurred while submitting your transaction.
      | Make sure you are connected to the Internet and try again later.
    p.literal Before trying again, please ensure that the transaction has
      | not been executed already.
    p: button.btn(ng-click='reset()') &laquo; Back

  //- N5. Sent page

  group.mode-sent(ng-show='mode=="sent"')
    group.pending(ng-show='tx_result=="pending"')
      h1 Your transaction has been submitted.
      p Your account balance will update once the payment has cleared.
    group.result-success(ng-show='tx_result=="cleared"')
      h1 Transaction cleared!
    group.result-partial(ng-show='tx_result=="partial"')
      h1 Transaction partially valid!
      p Your transaction could only be partially applied.
    group.result-error(ng-show='tx_result=="error"')
      h1 Transaction could not be submitted!
      p We were unable to submit the transaction to the server. Please try again later.
    group.result-malformed(ng-show='tx_result=="malformed"')
      h1 Transaction malformed!
      p Your transaction is invalid, reason: {{engine_result}} - {{engine_result_message}}
    group.result-failed(ng-show='tx_result=="failed"')
      h1 Transaction failed!
      p(ng-switch on="engine_result")
        span(ng-switch-when="terNO_LINE") You have no trust line in this currency.
        span(ng-switch-default) Your transaction failed to clear, reason: {{engine_result_message}}
    hr
    .text-success(ng-show='addressSaved') Contact saved!
    div(ng-hide='contact', class="actionLink")
      a(href="", ng-click='showSaveAddressForm()') Add this address to contacts
      form(name="saveAddressForm", id="saveAddressForm", ng-submit='saveAddress()')
        .address {{recipient_address}}
        label(for='save_address_name') Name this user
        input#contact_name(
          name='save_address_name', type="text"
          ng-model='saveAddressName', unique, required)
        .error(ng-show='saveAddressForm.save_address_name.$error.unique') You already have a contact with the same name.
        div
          button.btn.btn-success(type='submit', ng-disabled='addressSaving')
            span(ng-show='addressSaving') Saving...
            span(ng-hide='addressSaving') Save
          a(href="", ng-click='hideSaveAddressForm()') Cancel
        hr
    div(class="actionLink")
      a(ng-click="reset()") Send another payment
    div(class="actionLink")
      a(ng-click="reset_goto('overview')") Back to overview
    hr