section.col-xs-12.content(ng-controller='UsdCtrl')

  //- Disconnected

  group.disconnected(ng-hide='connected')
    p.literal(l10n="err-you-must-be-online-to-see-this-screen", l10n)
      | You have to be online to see this screen

  //- Funding
  div(ng-show="'web' === client && !loadingAccount && !account.Balance && loadState.account && connected")
    include banner/unfunded

  .row(ng-show='connected')
    .col-sm-3
      include fund/menu
    .col-sm-9
      .nameLine Fund your account with USD
      h5 Amount
    .col-sm-4
      input.form-control.amount(name='amount', id='amount', type='number'
        placeholder='e.g. 100', ng-model='usdAmount')
    .col-sm-6
      h5 Fee
      .nameLine $ #{5*.30}
      h5 Total
      .nameLine $ {{total}}
      .description Ripple Trade has partnered with SnapSwap to make deposits
        |  easier. By continuing, you agree to SnapSwap's Terms of Service.
      .knox-payments-div(data-amount="amount")
      script(src="https://knoxpayments.com/merchant/knox.js"
        id="knox_payments_script", button_text="PAY WITH YOUR BANK"
        api-key="8217_b9fb17939cb3c7f", recurring="ot", user_request="show_all"
        invoice_detail="Deposit USD into your Ripple wallet", response_url="")
        //button.btn.btn-large(class='knox-payment-button', type='submit', name='usdAmount')
        //  p Confirm deposit