.widget.widget-assetallocation(ng-hide="!loadingAccount && !account.Balance && loadState.account")
  h4(ng-click="toggleShowWidget('assetallocation')")
    span(l10n) Asset Allocation
    i.fa.fa-fw.fa-caret-down(ng-class="{'closed': !showWidget('assetallocation')}")

  div(rp-slide="showWidget('assetallocation')")
    rp-pie-chart(
      ng-class="{'blank': !exchangeRatesNonempty}"
      rp-size="200"
      rp-drops="account.Balance"
      rp-ious="balances"
      rp-exchange-rates="exchangeRates")

    div.widget_loader(ng-show="showWidget('assetallocation') && !exchangeRatesNonempty")
      img(src="img/sections.png", class="loader")
