.widget.widget-assetallocation
  h4(ng-click='show_widget_assetallocation=!show_widget_assetallocation'
    ng-init='show_widget_assetallocation=true')
    span(l10n) Asset Allocation
    i.fa.fa-fw.fa-caret-down(ng-class="{'closed': !show_widget_assetallocation}")

  div(rp-slide='show_widget_assetallocation')
    rp-pie-chart(
      ng-class="{'blank': !exchangeRatesNonempty}"
      rp-size="100%"
      rp-drops="account.Balance"
      rp-ious="balances"
      rp-exchange-rates="exchangeRates")

    div.widget_loader(ng-hide="exchangeRatesNonempty")
      img(src="img/sections.png", class="loader")
