.widget.widget-networth
  h4(ng-click='show_widget_networth=!show_widget_networth'
    ng-init='show_widget_networth=true')
    span(l10n) Net Worth
    i.fa.fa-fw.fa-caret-down(ng-class="{'closed': !show_widget_networth}")

  div(rp-slide='show_widget_networth')
    div(ng-class="{'blank': !exchangeRatesNonempty}")
      .row(l10n)
        .col-xs-1(l10n-inc)
          span.desc(l10n-inc) In
        .col-xs-5.col-sm-3.col-md-5.col-lg-4
          input.form-control(
            type="text"
            rp-combobox="valueMetrics"
            rp-combobox-select
            rp-combobox-small
            ng-model="selectedValueMetric"
            ng-change="changeMetric(this)")

      .desc(l10n) Estimated from latest trade price

      .total
        span.amount {{ aggregateValueDisplayed }}
        span.amountDot(ng-show="aggregateValueDisplayedDecimalDot")
          | .
        span.amountFraction {{ aggregateValueDisplayedDecimal }}
        span.amountCurrency {{ selectedValueCurrencyShort }}

      .desc(ng-show="hasNegative", l10n) (excluding negative balances)

    div.widget_loader(ng-hide="exchangeRatesNonempty")
      img(src="img/sections.png", class="loader")
