.alert.alert-warning(ng-show="loading", l10n) Changing your Ripple name...
.alert.alert-success(ng-show="success", l10n) Your Ripple name has been changed successfully.
h4(l10n) Account settings
.section
  .descriptor(l10n) Ripple name
  .row.public-account-row
    .col-xs-9.col-sm-6.username ~{{userCredentials.username}}
    .col-xs-3.col-sm-3.edit-account-btn-wrapper
      a.btn.btn-cancel.btn-block(href="", ng-click="openForm=!openForm; success=false"
        ng-hide="openForm", l10n) edit
    form#renameForm(name="renameForm", ng-show="openForm", ng-submit="rename()")
      .form-group#open_name_change
        label(for='name', l10n) New Ripple name
        .input-group
          span.input-group-addon.ripple-addon ~
          input.form-control#username(
            name='username', type='text', ng-model="username"
            required, rp-focus, autocomplete="off", maxlength="20", rpDest
            rp-available-name)
        .errorGroup(ng-messages='renameForm.username.$error', ng-hide="renameForm.username.$pending")
          .success(ng-show='renameForm.username.$valid', l10n) Available
          .error(ng-message='rpAvailableName')
            span(ng-switch="usernameInvalidReason")
              span(ng-switch-when="exists", l10n) Already taken!
              span(ng-switch-when="reserved", l10n) Reserved for {{usernameReservedFor}}
                span &#32;
                i.fa.fa-question-circle(
                  rp-popover
                  rp-popover-placement="bottom"
                  rp-popover-title='Reserved domain'
                  rp-popover-trigger="click"
                  ng-switch-when="reserved"
                  data-content='This name belongs to a high-traffic website and has been reserved to prevent phishing.')
              span(ng-switch-when="tooshort", l10n) Must be at least 2 characters
              span(ng-switch-when="toolong", l10n) Must be at most 20 characters
              span(ng-switch-when="charset", l10n) Only a-z, 0-9 and hyphen (-)
              span(ng-switch-when="starthyphen", l10n) Cannot start with hyphen (-)
              span(ng-switch-when="endhyphen", l10n) Cannot end with hyphen (-)
              span(ng-switch-when="multhyphen", l10n) Cannot bundle hyphens (--)
        span(ng-show="renameForm.username.$pending", l10n) Checking...
        .form-group
          label(type="password", for='password', l10n) Current password
          input.form-control#password(type="password", name="password"
            ng-model="password", required)
        .alert.alert-danger(ng-show="error", ng-switch="error")
          span(ng-switch-when="wrongpassword", l10n)
            | Entered password is wrong.
          span(ng-switch-when="server", l10n)
            | Your account cannot be accessed at the moment. Please try again later.
          span(ng-switch-when="cantlogin", l10n)
            | Your Ripple name has been changed. Please login again.
          span(ng-switch-default, l10n)
            | Couldn't change your Ripple name, please try again later.
        .row
          .col-xs-12.col-sm-6
            button.btn.btn-success.btn-block(type="submit"
            ng-disabled="renameForm.$invalid || loading || renameForm.$pending")
              span(ng-hide="loading", l10n) Submit
              span(ng-show="loading", l10n) Loading...
          .col-xs-12.col-sm-6
            a.btn.btn-cancel.btn-block(href="", ng-click="openForm=!openForm", l10n) cancel
.section
  .descriptor#address(l10n) Ripple address
  div(ng-bind="address")
